body,.um-frame,.um-win,html{
   background-color: #fff;
}
#bot{
   height: 0.6rem;
   background-color: #fff;
   width: 100%;
   position: fixed;
   top: 1.2rem;
}
#bot .btnBox{
    width: 6.36rem;
    border: 1px solid #039be5;
    margin: 0 auto;
    height: 0.52rem;
    box-sizing: content-box;
}
#bot .btnBox span{
   float: left;
   width: 3.18rem;
   height: 0.52rem;
   line-height: 0.52rem;
   text-align: center;
   font-size: 0.24rem;
   color: #1287de;
}
/*.loginTitle{
   width: 1.8rem;
   height: 1.8rem;
   position: absolute;
   border-radius: 0.9rem;
   background-color: #fff;
   left: 50%;
   margin-left: -0.9rem;
   top: 2.4rem;
   overflow: hidden;
   display: block;
   border: 0;
}
.loginTitle span{
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    color: #0e3a5d;
}*/
form{
   width: 6.4rem;
   position: absolute;
   left: 50%;
   margin-left: -3.2rem;
   top: 3rem;
   height: 6rem;
}
dl{
   height: 0.8rem;
   margin-bottom: 0.4rem;
   border-bottom: 1px solid #e0e0e0;
}
dl dd,dl dt{
   float: left;
   height: 0.8rem;
}
dl dt{
   margin-right: 0.5rem;
   font-size: 0.28rem;
   height: 0.8rem;
   line-height: 0.8rem;
   color: #0277bd;
}
dl dd{
   width: 4.6rem;
   height: 0.8rem;
}
dl dd input{
   border: 0;
   outline: none;
   height: 0.28rem;
   width: 4.6rem;
   background: none;
   color: #424242;
   font-size: 0.28rem;
   line-height: 0.28rem;
   margin-top: 0.25rem;
}
*::-webkit-input-placeholder {
    color: #e0e0e0;
}
*:-moz-placeholder {
    color: #e0e0e0;
}
*:-ms-input-placeholder {
    color: #e0e0e0;
}
.forget{
   position: absolute;
   right: 0;
   color: #999;
   font-size: 0.28rem;
   height: 0.28rem;
   line-height: 0.28rem;
}
.getcode{
   position: absolute;
   right: 0;
   bottom: 4.26rem;
   width: 2.5rem;
   height: 0.68rem;
   background-color: #fff;
   border-radius: 0.1rem;
   border: 1px solid #039be5;
   color: #039be5;
   line-height: 0.68rem;
   text-align: center;
   font-size: 0.28rem;
}
.loginBtn{
   width: 6.4rem;
   height: 1rem;
   background-color: #039be5;
   color: #fff;
   position: absolute;
   left: 50%;
   margin-left: -3.2rem;
   bottom: 0.8rem;
   border: 0;
   outline: none;
   border-radius: 0.1rem;
   font-size: 0.34rem;
   letter-spacing: 0.05rem;
   line-height: 1rem;
   text-align: center;
}
