body,.um-frame{
   background-color: #fff;
}
#footer{
   height: 1.2rem;
   background-color: #fff;
   border: 0;
}
#footer span{
   display: inline-block;
   height: 0.4rem;
   font-size: 0.3rem;
   line-height: 0.4rem;
   color: #424242;
}
#footer .shu{
   padding: 0 0.5rem;
}
.loginTitle{
   width: 1.8rem;
   height: 1.8rem;
   position: absolute;
   border-radius: 0.9rem;
   background-color: #d8d8d8;
   left: 50%;
   margin-left: -0.9rem;
   top: 2.4rem;
   overflow: hidden;
   display: block;
   border: 0;
}
form{
   width: 6.4rem;
   position: absolute;
   left: 50%;
   margin-left: -3.2rem;
   top: 5rem;
   height: 5rem;
}
dl{
   height: 0.8rem;
   margin-bottom: 0.4rem;
   border-bottom: 1px solid #e0e0e0;
}
dl dd,dl dt{
   float: left;
   height: 0.8rem;
}
dl dt{
   margin-right: 0.5rem;
   font-size: 0.28rem;
   height: 0.8rem;
   line-height: 0.8rem;
   color: #0277bd;
}
dl dd{
   width: 4.6rem;
}
dl dd input{
   border: 0;
   outline: none;
   height: 0.8rem;
   width: 4.6rem;
   background: none;
   color: #424242;
   font-size: 0.28rem;
   line-height: 0.8rem;
}
*::-webkit-input-placeholder {
    color: #e0e0e0;
}
*:-moz-placeholder {
    color: #e0e0e0;
}
*:-ms-input-placeholder {
    color: #e0e0e0;
}
.forget{
   position: absolute;
   right: 0;
   color: #999;
   font-size: 0.28rem;
   height: 0.28rem;
   line-height: 0.28rem;
}
.getcode{
   position: absolute;
   right: 0;
   bottom: 3.26rem;
   width: 2.5rem;
   height: 0.68rem;
   background-color: #fff;
   border-radius: 0.1rem;
   border: 1px solid #039be5;
   color: #039be5;
   line-height: 0.68rem;
   text-align: center;
   font-size: 0.28rem;
}
.loginBtn{
   width: 6.4rem;
   height: 1rem;
   background-color: #039be5;
   color: #fff;
   position: absolute;
   left: 50%;
   margin-left: -3.2rem;
   bottom: 0.8rem;
   border: 0;
   outline: none;
   border-radius: 0.1rem;
   font-size: 0.34rem;
   letter-spacing: 0.05rem;
   line-height: 1rem;
   text-align: center;
}
