<?xml version="1.0" encoding="UTF-8"?>

<application> 
  <app_start>html/guide/index.html</app_start>  
  <app_name>北京复昌</app_name>  
  <project_name>RentingSM_FC</project_name>  
  <package_name>com.skywish.rentingsm.fc</package_name>  
  <frame_name>summer-um</frame_name>  
  <theme>blue</theme>  
  <icon relativePath="css/themes/default/app">app</icon>  
  <versionCode>112</versionCode>  
  <versionBuild>1.1.2</versionBuild>  
  <versionName>1.1.2</versionName>  
  <orientation>unspecified</orientation>  
  <statusBarStyle>light</statusBarStyle>  
  <fullScreen>true</fullScreen>  
  <windowSoftInputMode>stateHidden</windowSoftInputMode>  
  <openMDoctor>false</openMDoctor>  
  <autoHideLaunch>false</autoHideLaunch>  
  <urlScheme>bjfcsm</urlScheme>
  <import id="cordova-plugin-compat" type="web" ref="cordova"></import>  
  <import id="cordova-plugin-http" type="web" ref="cordova"/>  
  <import id="cordova-plugin-camera" type="web" ref="cordova"/>  
  <import id="cordova-plugin-file" type="web" ref="cordova"/>  
  <import id="cordova-plugin-finance" type="web" ref="cordova"/>  
  <import id="cordova-plugin-amap" type="web" ref="cordova"> 
    <parameter>AMAP_KEY=509c705cf6786d61f4a62913efb94029</parameter> 
  </import>  
  <!--import id="summer-plugin-video" type="web" ref="cordova"/--> 
</application>
