<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css">
		<link rel="stylesheet" href="../../css/mint.css">
		<link rel="stylesheet" href="./index.min.css">
	</head>
	<body>
		<div class="um-win" id="addLeads" v-cloak>
			<div class="um-content addLeads">
				<ul>
          <li class="title"><span></span>基本信息</li>
          <li><b>*</b>姓名 <span><input type="text" name="uname" v-model="name" placeholder="请输入姓名"></span></li>
          <li @click="surePicker('from')"><b>*</b>来源 <span :class="{default:!from}"><template v-if="from">{{from}}</template><template v-else>请选择</template><i class="icon iconfont icon-enter"></i></span></li>
          <li @click="surePicker('pool')"><b>*</b>线索池 <span :class="{default:!pool}"><template v-if="pool">{{pool}}</template><template v-else>请选择</template><i class="icon iconfont icon-enter"></i></span></li>
          <li @click="openCame">名片 <span><i class="icon iconfont icon-enter"></i></span></li>
					<li v-if="carId"><img :src="carId" alt=""></li>
          <li>公司 <span><input type="text" name="uname" v-model="name" placeholder="请输入公司"></span></li>
          <li>线索详情 <span><input type="text" name="uname" v-model="name" placeholder="请输入线索详情"></span></li>
          <li>手机号 <span><input type="text" name="uname" v-model="name" placeholder="请输入手机号"></span></li>
          <li>购车预算 <span><input type="text" name="uname" v-model="name" placeholder="请输入购车预算"></span></li>
          <li @click="surePicker('')">线索城市 <span><i class="icon iconfont icon-enter"></i></span></li>
          <li>品牌 <span><input type="text" name="uname" v-model="name" placeholder="请输入品牌"></span></li>
          <li>车系 <span><input type="text" name="uname" v-model="name" placeholder="请输入车系"></span></li>
          <li>车型名称 <span><input type="text" name="uname" v-model="name" placeholder="请输入车型名称"></span></li>
				</ul>
			</div>
			<mt-popup v-model="pickerStatus" position="bottom" class="pickerPrice">
				<mt-picker :slots="slots" @change="onValuesChange"></mt-picker>
				<p><span class="fl" @click="surePicker">取消</span><span class="fr" @click="surePicker('','confirm')">确定</span></p>
			</mt-popup>
		</div>
    <script src="../../js/summer.js" ></script>
    <script src="../../js/jquery.min.js" ></script>
    <script src="../../js/font.js" ></script>
    <script src="../../js/vue.js" ></script>
    <script src="../../js/mint.js" ></script>
    <script src="../../js/common.js" ></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script>
				summerready = function() {
					var params = ["android.permission.CAMERA", "android.permission.READ_PHONE_STATE", "android.permission.WRITE_EXTERNAL_STORAGE"];
					summer.getPermission(params, function(args) {
						//alert(args); //成功返回OK
					}, function(args) {
						//alert(args); //失败返回illegal access
					})
				}
				var addLeadsVue=new Vue({
					el:'#addLeads',
					data(){
						return{
							name:'',
							from:'',
							pool:'',
							carId:'',
							pickerType:'from',
							pickerStatus:false,
							pickerVal:"",
							fromList:["线索来源-自荐","线索来源-推荐","线索来源-网络"],
							poolList:["线索池-天池","线索池-风起","线索池-长林"]
						}
					},
					computed:{
						slots(){
							var pickerObj={
								flex: 1,
								values: [],
								defaultIndex:0,
								className: 'slot1',
								textAlign: 'center'
							},i=0;
							if(this.pickerType=='from'){
								pickerObj.values=this.fromList;
								i=this.fromList.indexOf(this.from);
							}else if(this.pickerType=='pool'){
								pickerObj.values=this.poolList;
								i=this.poolList.indexOf(this.pool);
							}
							if(i>-1){pickerObj.defaultIndex=i}
							return [pickerObj]
						}
					},
					created(){

					},
					methods:{
						onValuesChange(picker,values) {
							this.pickerVal=values[0];
				    },
						surePicker(item,status){
							this.pickerStatus=!this.pickerStatus;
							if(status=='confirm'){
								if(this.pickerType=='from'){
									this.from=this.pickerVal
								}else if(this.pickerType=='pool'){
									this.pool=this.pickerVal
								}
							}else if(item){
								this.pickerType=item;
							}
						},
						openCame(){
							var that=this;
							summer.openCamera({
								compressionRatio:0.5,
								callback : function(args){
									// $summer.alert(args);
								//  alert(args.imgPath);
									CommonUtil.watermark({
										srcImage:args.compressImgPath,
										targetImage:args.compressImgPath,
										name:'线索名片',
										callback:function(arg){
												that.carId=arg.target;
												alert(that.carId)
										 }
									});
								}
							});
						},
						save(){
							summer.closeWin()
						}
					}
				});
				function save(){
					addLeadsVue.save()
				}
		</script>
	</body>
</html>
