<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css">
		<link rel="stylesheet" href="../../css/mint.css">
		<link rel="stylesheet" href="./index.min.css">
		<script src="../../js/summer.js" ></script>
		<script src="../../js/jquery.min.js" ></script>
		<script src="../../js/font.js" ></script>
		<script src="../../js/vue.js" ></script>
		<script src="../../js/mint.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
	</head>
	<body>
		<div class="um-win" id="salesList" v-cloak>
			<div class="um-content salesList">
				<h1 class="tc">搜索还没做</h1>
				<ul>
					<li v-for="(item,index) in list" :key="index" @click="goDetail(item.id)">
            <p>{{item.name}}</p>
            <p><span>公司</span><template v-if="item.company">{{item.company}}</template><template v-else>未填写</template></p>
            <p><span>电话</span><template v-if="item.phone">{{item.phone}}</template><template v-else>未填写</template></p>
            <span class="ps">
              <b v-if="item.status==1">已分配</b>
              <b v-if="item.status==0">未分配</b>
              <i class="icon iconfont icon-enter"></i>
            </span>
					</li>
				</ul>
			</div>
      <div class="um-footer" id="footer">
        <button type="button" @click="addNew" name="button">新建销售线索</button>
      </div>
		</div>
		<script>
				var salesList=new Vue({
					el:'#salesList',
					data(){
						return{
							list:[
                {id:1,name:"赵六",company:'',phone:'13146829922',status:1},
                {id:1,name:"赵六",company:'天行者科技',phone:'',status:0},
              ]

						}
					},
					created(){

					},
					methods:{
            goDetail(id){
              summer.openWin({
                id:'leadsDetail',
                url:'html/salesLeads/leadsDetail.html',
                create:false,
                type:'actionBar',
                pageParam:{carId:id},
                actionBar: {
                  title: "销售线索详情",
                  titleColor: "#ffffff",
                  backgroundColor: "#039BE5",
                  leftItem:{
                      image: "img/back.png",
                      method:'',
                      text:"返回",
                      textColor:"#ffffff"
                  },
                  rightItems:[{
                    type:"text",
                    text:"保存",
                    textColor:"#ffffff" ,
                    method:"save()"
                  }]
                }
              })
            },
						addNew(){
							summer.openWin({
                id:'addLeads',
                url:'html/salesLeads/addLeads.html',
                create:false,
                type:'actionBar',
                pageParam:{carId:id},
                actionBar: {
                  title: "新建线索",
                  titleColor: "#ffffff",
                  backgroundColor: "#039BE5",
                  leftItem:{
                      image: "img/back.png",
                      method:'',
                      text:"返回",
                      textColor:"#ffffff"
                  },
                  rightItems:[{
                    type:"text",
                    text:"提交",
                    textColor:"#ffffff" ,
                    method:"save()"
                  }]
                }
              })
						}
					}
				});
		</script>
	</body>
</html>
