.add{
    width: 100%;
    height: 0.88rem;
}
.add>span{
    float: left;
    width: 0.88rem;
    height: 0.88rem;
    font-size: 0.32rem;
    color: #039be5;
    text-align: center;
    line-height: 0.88rem;
}
.add>.bankName{
    float: left;
    height: 0.88rem;
    line-height: 0.88rem;
    color: #333;
    font-size: 0.28rem;
}
.add>i{
    font-style: normal;
    float: right;
    width: 0.88rem;
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.32rem;
    color: #dbdbdb;
}
.bankCardList{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.2rem 0.2rem 0.4rem 0.2rem;
    background: #f6f6f6;
}
.bankCardList li{
    width: 100%;
    height: 2.2rem;
    background: #1b64a3;
    border-radius: 0.04rem;
    margin-bottom: 0.2rem;
    padding: 0 0.28rem;
    display: flex;
}
.bankCardList li .l-con{
    width: 0.8rem;
    height: 100%;
    margin-right: 0.4rem;
    display: flex;
    align-items: center;
}
.bankCardList li .l-con span{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.4rem;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bankCardList li .l-con span img{
    display: block;
    border: 0;
    width: 0.62rem;
    height: 0.62rem;
    border-radius: 0.31rem;
    overflow: hidden;
}
.bankCardList li .r-con{
    padding-top: 0.44rem;
    color: #fff;
}
.bankCardList li .r-con p:nth-of-type(1){
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.28rem;
    font-weight: bold;
}
.bankCardList li .r-con p:nth-of-type(2){
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.24rem;
    margin-bottom: 0.2rem;
}
.bankCardList li .r-con p:nth-of-type(3){
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.4rem;
}