<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="bindBankCard.css">
    <script src="../../js/summer.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../js/font.js" charset="utf-8"></script>
    <script src="../../js/vue.js" charset="utf-8"></script>
    <script src="../../js/common.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <div class="um-content">
            <h2 class="tip">*请绑定承租人本人的储蓄卡</h2>
            <div class="items">
                <span>持卡人</span>
                <input type="text" placeholder="请输入持卡人姓名" v-model="cardholder">
            </div>
            <div class="items">
                <span>银行卡号</span>
                <input type="number" placeholder="请输入承租人本人银行卡号" v-model="bankNum">
                <!-- <i class="iconfont icon-camera"></i> -->
            </div>
            <h3>
                <i v-if="bankName" class="iconfont icon-card"></i>
                <span>{{ bankName }}</span>
            </h3>
            <div class="items" @click = "chooseCities">
                <span>开户城市</span>
                <p v-bind:class="pStyle">{{city}}</p>
                <i class="iconfont icon-enter"></i>
            </div>
            <div class="items">
                <span>预留手机号</span>
                <input type="tel" placeholder="请输入您在银行开户时留存的手机号" v-model="phoneNum">
            </div>
            <div class="items">
                <span>验证码</span>
                <input type="text" placeholder="请输入六位验证码" v-model="code">
                <div class="code" @click="achieveCode" v-bind:class="codeClassObject">{{codeTxt}}</div>
            </div>
            <h3>
                <span>收不到验证码，获取语音验证码</span>
            </h3>
            <div class="agreement">
                <span class="gou" v-bind:class="gouStyle" @click="checkAgreement">
                    <i class="iconfont icon-yes" v-bind:class="iStyle"></i>
                </span>
                <span class="txt" @click="checkAgreement">我已阅读并同意</span>
                <b @click="seeAgreement">《还款协议》</b>
            </div>
            <div class="bindBtn" @click="bindBankCard">绑定银行卡</div>
        </div>
    </div>
    <script type="text/javascript">
        var bindBank = new Vue({
            el: "#index",
            data: {
                // 验证码区域文本
                codeTxt: "获取验证码",
                // 定时器ID
                codeTimer: null,
                // 协议打勾
                checkedAgreement: false,
                // 持卡人
                cardholder: "",
                // 银行卡号
                bankNum: "",
                // 开户城市
                city: "请选择您开户银行所属城市",
                // 预留手机号
                phoneNum: "",
                // 验证码
                code: "",
                // 获取的验证码
                getCode: "",
                // 省
                provinceChoose: "",
                // 市
                cityChoose: "",
                // 银行名称
                bankName: "",
                // ID
                EMPLOYEE_ID: "",
                // 银行卡类型
                CARD_TYPE: "",
                // 银行编号（简称）
                FST_ORG: ""
            },
            computed: {
                gouStyle: function () {
                    return {
                        gouBorderNone: this.checkedAgreement
                    }
                },
                iStyle: function () {
                    return {
                        iNone: !this.checkedAgreement
                    }
                },
                codeClassObject: function () {
					return {
						getcodeUnClick: this.codeTxt != "获取验证码"
					}
                },
                pStyle: function () {
                    return {
                        pActive: this.city != "请选择您开户银行所属城市"
                    }
                }
            },
            methods: {
                // 点击同意协议
                checkAgreement: function () {
                    this.checkedAgreement = !this.checkedAgreement
                },
                // 查看协议
                seeAgreement: function () {
                    console.log("查看协议");
                },
                // 选择银行开户省份及城市
                chooseCities: function () {
                    if (!this.bankNum) {
                        summer.toast({
                            msg: "请输入银行卡号"
                        });
                        return;
                    }
                    summer.openWin({
        				id:'bankCity',
        				url:'html/stock/bankCity.html',
        				create:false,
        				type:'actionBar',
        				actionBar: {
        					title: "选择银行卡所属地",
        					titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
        					backgroundColor: "#039be5",
        					leftItem:{
        						image: "img/back.png",
        						method:"",//返回按钮自定义事件
        						text:"返回",
        						textColor:"#ffffff"  //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
        					}
                        },
                        pageParam: {
                            // 客户电话
                            PHONE: summer.pageParam.PHONE,
                            // 银行卡号
                            CARD_NO: this.bankNum
						}
        			});
                },
                // 绑定银行卡
                bindBankCard: function () {
                    if (!this.cardholder) {
                        summer.toast({
                            msg: "请输入持卡人"
                        });
                    } else if (!this.bankNum) {
                        summer.toast({
                            msg: "请输入银行卡号"
                        });
                    } else if (this.city == "请选择您开户银行所属城市") {
                        summer.toast({
                            msg: "请选择您开户银行所属城市"
                        });
                    } else if (!this.phoneNum) {
                        summer.toast({
                            msg: "请输入您在银行开户时留存的手机号"
                        });
                    } else if (!this.phoneNum) {
                        summer.toast({
                            msg: "请输入您在银行开户时留存的手机号"
                        });
                    } else if (!this.getCode) {
                        summer.toast({
                            msg: "请先获取验证码"
                        });
                    } else if (!this.code) {
                        summer.toast({
                            msg: "请输入六位验证码"
                        });
                    } else if (this.code != this.getCode) {
                        summer.toast({
                            msg: "您输入的验证码有误"
                        });
                    } else if (!this.checkedAgreement) {
                        summer.toast({
                            msg: "请阅读并同意《还款协议》"
                        });
                    } else {
                        var This = this;
                        summer.showProgress();
                        ajaxRequest({
                        	type: 'post',
                        	url: 'appservice/customer/signedBank',
                        	param: {
                        		"EMPLOYEE_ID": This.EMPLOYEE_ID,
                                "PHONE": This.phoneNum,
                                "CARD_TYPE": This.CARD_TYPE,
                                "BANK_NAME": This.bankName,
                                "PAY_ACNT_CODE": This.bankNum,
                                "CARD_TEL": This.phoneNum,
                                "FST_ORG": This.FST_ORG,
                                "SEC_ORG": This.provinceChoose,
                                "THD_ORG": This.cityChoose
                        	}
                        }, function (res) {
                        	summer.hideProgress();
                        	var Data;
                        	if (Object.prototype.toString.call(res.data) === '[object String]') {
                        		Data = JSON.parse(res.data);
                        	} else {
                        		Data = res.data;
                        	}
                        	if (Data.flag == 1) {
                                summer.toast({
                                    msg: "绑定成功"
                                });
                                summer.execScript({
                                    winId: 'addBankCard',
                                    script: "showBankList()"
                                });
                                summer.execScript({
                                    winId: 'stock',
                                    script: "getBankListData()"
                                });
                                summer.closeWin();
                        	} else {
                        		summer.toast({
                        			msg: "绑定失败"
                        		});
                        	}
                        }, function (err) {
                        	summer.hideProgress();
                        	summer.toast({
                        		msg: "系统内部异常"
                        	});
                        	console.log(err);
                        });
                    }
                },
                // 获取验证码
                achieveCode: function () {
                    var This = this;
                    var re = /^1[3|4|5|7|8][0-9]{9}$/;
                    if (!this.phoneNum) {
                        summer.toast({
                            msg: "请输入手机号"
                        });
                        return;
                    }
                    if (!re.test(this.phoneNum)) {
						summer.toast({
							msg: "手机号格式有误"
						});
						return;
					}
                    if (this.codeTxt == "获取验证码") {
                        This.getCode = "";
                        summer.showProgress();
                        ajaxRequest({
                            type: 'post',
                        	url: 'appservice/fund/getVerifiCode',
                        	param: {
                                PHONE: This.phoneNum
                                // PHONE: 15040570501
                        	}
                        }, function (res) {
                            summer.hideProgress();
                        	var Data;
                        	if (Object.prototype.toString.call(res.data) === '[object String]') {
                                Data = JSON.parse(res.data);
                        	} else {
                                Data = res.data;
                        	}
                        	if (Data.flag == 1) {
                                summer.toast({
                                    msg: "验证码已发送"
                                });
                                This.getCode = Data.datas.SMSCODE;
                                This.codeTxt = "60s";
                                var n = 59;
                                this.codeTimer = setInterval(function () {
                                    This.codeTxt = n + "s";
                                    if (n < 0) {
                                        This.codeTxt = "获取验证码";
                                        clearInterval(this.codeTimer);
                                        This.codeTimer = null;
                                    };
                                    n--;
                                }, 1000);
                        	} else {
                        		summer.toast({
                        			msg: "获取验证码失败"
                        		});
                        	}
                        }, function (err) {
                        	summer.hideProgress();
                        	summer.toast({
                        		msg: "系统内部异常"
                        	});
                        	console.log(err);
                        });
                    } else {
                        summer.toast({
                            msg: "请勿连续发送"
                        });
                    }
                }
            }
        })
        // 获取省市
        function getBankCity (province,city,bankName,CARD_TYPE,FST_ORG) {
            bindBank.provinceChoose = province;
            bindBank.cityChoose = city;
            bindBank.city = province + ' ' + city;
            bindBank.bankName = bankName;
            bindBank.CARD_TYPE = CARD_TYPE;
            bindBank.FST_ORG = FST_ORG;
        }
        summerready = function () {
            bindBank.phoneNum = summer.pageParam.PHONE;
            bindBank.cardholder = summer.pageParam.NAME;
            bindBank.EMPLOYEE_ID = summer.pageParam.EMPLOYEE_ID;
		};
    </script>
</body>

</html>