.um-content{
   position: relative;
}
.applyList{
   margin-top: 0.1rem;
   width: 100%;
   background-color: #fff;
}
.applyList li{
   width: 100%;
   height: 0.8rem;
   border-bottom: 1px solid #f1f1f1;
   padding: 0 0.3rem;
}
.applyList li span{
   float: left;
   height: 0.8rem;
   line-height: 0.8rem;
   font-size: 0.28rem;
}
.applyList li div{
   float: right;
   height: 0.8rem;
   line-height: 0.8rem;
   font-size: 0.28rem;
}
.applyList li div i,.applyList li div span{
   float: right;
   font-style: normal;
}
.applyList li div i{
   color: #0394d3;
}
.applyList li div span{
   margin-left: 0.2rem;
}
.applyBtn{
   position: absolute;
   width: 80%;
   height: 1rem;
   background-color: #0394d3;
   font-size: 0.28rem;
   line-height: 1rem;
   color: #fff;
   text-align: center;
   left: 50%;
   transform: translate(-50%);
   top: 6rem;
   border-radius: 0.1rem;
}
.change{
   display: none;
}
