<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../css/iuapmobile.um.css">
    <link rel="stylesheet" href="../../../css/fonts/iconfont.css">
    <link rel="stylesheet" href="loanInfo.css">
    <link rel="stylesheet" href="../../../css/mint.css">
    <script src="../../../js/summer.js"></script>
    <script src="../../../js/jquery.min.js"></script>
    <script src="../../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
    <script src="../../../js/font.js"></script>
    <script src="../../../js/vue.js"></script>
    <script src="../../../js/mint.js"></script>
    <script src="../../../js/common.js"></script>
</head>

<body>
    <div class="um-win" id="index">
        <div class="um-content" v-cloak>
            <ul class="loanList">
                <li>
                    <span>支付表号</span>
                    <div>{{PAYLIST_CODE}}</div>
                </li>
                <li>
                    <span>放款方式</span>
                    <div @click="sureMethod">
						<span class="iconfont icon-enter"></span>
						<i v-bind:style="[insurerMethod == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{insurerMethod}}</i>
					</div>
                </li>
                <li>
                    <span>放款模式</span>
                    <div @click="surePattern">
                        <span class="iconfont icon-enter"></span>
                        <i v-bind:style="[insurerPattern == '请选择' ? {'color':'#9e9e9e'} : {'color':'#333'}]">{{insurerPattern}}</i>
                    </div>
                </li>
                <li>
                    <span>付款方式</span>
                    <div @click="surePay">
                        <span class="iconfont icon-enter"></span>
                        <i v-bind:style="[insurerPay == '请选择' ? {'color':'#9e9e9e'} : {'color':'#424242'}]">{{insurerPay}}</i>
                    </div>
                </li>
                <li>
                    <span>是否代收</span>
                    <div @click="sureReplace">
                        <span class="iconfont icon-enter"></span>
                        <i v-bind:style="[insurerReplace == '请选择' ? {'color':'#9e9e9e'} : {'color':'#424242'}]">{{insurerReplace}}</i>
                    </div>
                </li>
                <li>
                    <span>抵押保证金金额</span>
                    <strong>元</strong>
					<input v-model="pledge" @input="pledgeInps" type="number" placeholder="请输入" />
                </li>
                <li>
                    <span>GPS费用</span>
                    <strong>元</strong>
                    <input v-model="gps" @input="GPSinps" type="number" placeholder="请输入" />
                </li>
                <li>
                    <span>代收金额</span>
                    <div>{{collection}} 元</div>
                </li>
                <li>
                    <span>实际付款金额</span>
                    <div>{{LAST_MONEY}} 元</div>
                </li>
            </ul>
            <section v-if="replaceStatus" class="insurer">
				<mt-picker :slots="replaceSlots" @change="onReplaceChange"></mt-picker>
				<p><span class="" @click="sureReplace">取消</span><span class="" @click="sureReplace('confirm')">确定</span></p>
			</section>
            <section v-if="methodStatus" class="insurer">
				<mt-picker :slots="methodSlots" @change="onMethodChange"></mt-picker>
				<p><span class="" @click="sureMethod">取消</span><span class="" @click="sureMethod('confirm')">确定</span></p>
			</section>
            <section v-if="patternStatus" class="insurer">
				<mt-picker :slots="patternSlots" @change="onPatternChange"></mt-picker>
				<p><span class="" @click="surePattern">取消</span><span class="" @click="surePattern('confirm')">确定</span></p>
			</section>
            <section v-if="payStatus" class="insurer">
				<mt-picker :slots="paySlots" @change="onPayChange"></mt-picker>
				<p><span class="" @click="surePay">取消</span><span class="" @click="surePay('confirm')">确定</span></p>
			</section>
            <!-- <div class="calculate" @click="toCalculate">测算</div> -->
        </div>
    </div>
    <script type="text/javascript">
        var loanInfo = new Vue({
            el: '#index',
            data: {
                pledge:"",
                gps:"",
                collection:"",
                PAY_MONEY:"",
                LAST_MONEY:"",
                PAYMENT_ID:"",
                PAYLIST_CODE:"",
                params:{
                    PAY_ID:"",
                    PROJECT_ID:""
                },
                // 是否代收
                replaceStatus:false,
                pickedReplace:"",
                insurerReplace:"请选择",
                replaceArr:[],
                replaceSlots: [{
                    flex: 1,
                    values: ['全额', '差额'],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 放款方式
                methodStatus:false,
                pickedMethod:"",
                insurerMethod:"请选择",
                methodArr:[],
                methodSlots: [{
                    flex: 1,
                    values: ['方式一', '方式二'],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 放款模式
                patternStatus:false,
                pickedPattern:"",
                insurerPattern:"请选择",
                patternArr:[],
                patternSlots: [{
                    flex: 1,
                    values: ['模式一', '模式二'],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }],
                // 付款方式
                payStatus:false,
                pickedPay:"",
                insurerPay:"请选择",
                payArr:[],
                paySlots: [{
                    flex: 1,
                    values: ['方式一', '方式二'],
                    defaultIndex: 0,
                    className: 'slot1',
                    textAlign: 'center'
                }]
            },
            methods: {
                // 选择是否代收
				onReplaceChange:function (picker, values) {
					this.pickedReplace = values[0];
				},
				sureReplace:function (param) {
					this.replaceStatus = !this.replaceStatus;
                    this.methodStatus = false;
                    this.patternStatus = false;
                    this.payStatus = false;
					if (param == 'confirm') {
						this.insurerReplace = this.pickedReplace;
                        if (this.pickedReplace == "差额") {
                            this.LAST_MONEY = this.PAY_MONEY - this.pledge - this.gps - this.collection;
                        } else if (this.pickedReplace == "全额") {
                            this.LAST_MONEY = this.PAY_MONEY - this.pledge - this.gps;
                        }
					}
				},
                // 选择放款方式
                onMethodChange:function (picker, values) {
					this.pickedMethod = values[0];
				},
				sureMethod:function (param) {
					this.methodStatus = !this.methodStatus;
                    this.replaceStatus = false;
                    this.patternStatus = false;
                    this.payStatus = false;
					if (param == 'confirm') {
						this.insurerMethod = this.pickedMethod;
					}
				},
                // 选择放款模式
                onPatternChange:function (picker, values) {
					this.pickedPattern = values[0];
				},
				surePattern:function (param) {
					this.patternStatus = !this.patternStatus;
                    this.replaceStatus = false;
                    this.methodStatus = false;
                    this.payStatus = false;
					if (param == 'confirm') {
						this.insurerPattern = this.pickedPattern;
					}
				},
                // 选择付款方式
                onPayChange:function (picker, values) {
					this.pickedPay = values[0];
				},
				surePay:function (param) {
					this.payStatus = !this.payStatus;
                    this.replaceStatus = false;
                    this.methodStatus = false;
                    this.patternStatus = false;
					if (param == 'confirm') {
						this.insurerPay = this.pickedPay;
					}
				},
                // 抵押保证金输入监听
                pledgeInps:function () {
                    if (this.insurerReplace == "差额") {
                        this.LAST_MONEY = this.PAY_MONEY - this.pledge - this.gps - this.collection;
                    } else if (this.insurerReplace == "全额") {
                        this.LAST_MONEY = this.PAY_MONEY - this.pledge - this.gps;
                    }
                },
                // GPS费用输入监听
                GPSinps:function () {
                    if (this.insurerReplace == "差额") {
                        this.LAST_MONEY = this.PAY_MONEY - this.pledge - this.gps - this.collection;
                    } else if (this.insurerReplace == "全额") {
                        this.LAST_MONEY = this.PAY_MONEY - this.pledge - this.gps;
                    }
                },
                // 提交
                save:function () {
                    if (this.insurerMethod == "请选择") {
                        summer.toast({
                            msg: "请选择放款方式"
                        });
                        return;
                    } else if (this.insurerPattern == "请选择") {
                        summer.toast({
                            msg: "请选择放款模式"
                        });
                        return;
                    }  else if (this.insurerPay == "请选择") {
                        summer.toast({
                            msg: "请选择付款方式"
                        });
                        return;
                    } else if (this.insurerReplace == "请选择") {
                        summer.toast({
                            msg: "请选择是否代收"
                        });
                        return;
                    } else if (this.pledge == "") {
                        summer.toast({
                            msg: "请填写抵押保证金金额"
                        });
                        return;
                    } else if (this.gps == "") {
                        summer.toast({
                            msg: "请填写GPS费用"
                        });
                        return;
                    } 
                    summer.showProgress();
                    var ISDEKOU, PAYMENT_TYPE, LENDING_MODEL, PAYMONEY_TYPE;
                    this.replaceArr.forEach(function (e) {
                        if (e.FLAG == this.insurerReplace) {
                            ISDEKOU = e.CODE;
                        }
                    });
                    this.methodArr.forEach(function (e) {
                        if (e.FLAG == this.insurerMethod) {
                            PAYMENT_TYPE = e.CODE;
                        }
                    });
                    this.patternArr.forEach(function (e) {
                        if (e.FLAG == this.insurerPattern) {
                            LENDING_MODEL = e.CODE;
                        }
                    });
                    this.payArr.forEach(function (e) {
                        if (e.FLAG == this.insurerPay) {
                            PAYMONEY_TYPE = e.CODE;
                        }
                    });
					ajaxRequest({
						type: 'post',
						url: 'appservice/payment/startCarPayment',
						param: {
							ISDEKOU: ISDEKOU,
                            PAYMENT_TYPE: PAYMENT_TYPE,
                            CS_PRICE: this.pledge,
                            LENDING_MODEL: LENDING_MODEL,
                            GPS_MONEY: this.gps,
                            PAY_ID: this.params.PAY_ID,
                            PAYMONEY_TYPE: PAYMONEY_TYPE,
                            DEKOU_SQ: this.collection,
                            LAST_MONEY: this.LAST_MONEY,
                            PAYMENT_ID: this.PAYMENT_ID
						}
					}, function(res) {
						summer.hideProgress();
						var Data;
						if (Object.prototype.toString.call(res.data) === '[object String]') {
							Data = JSON.parse(res.data);
						} else {
							Data = res.data;
						}
						if (Data.flag == 1) {
							if (Data.datas.JBPM_ID) {
								summer.toast({
									msg: "申请成功"
								});
								summer.closeToWin({
									id: 'payList'
								});
							} else {
                                summer.toast({
                                    msg: Data.datas.data
                                });
                                summer.closeToWin({
                                    id: 'payList'
                                });
                            }
						} else if (Data.flag == 0) {
                            summer.toast({
								msg: "该项目还存在未生成合格证的设备，请先生成合格证"
							});
                        } else {
							summer.toast({
								msg: Data.msg
							});
						}
					}, function(err) {
						summer.hideProgress();
						summer.toast({
							msg: "申请失败"
						});
						console.log(err);
					});
                }
            }
        });
        summerready = function() {
            var PAYMENT_ID = summer.pageParam.PAYMENT_ID;
            var PAYLIST_CODE = summer.pageParam.PAYLIST_CODE;
            loanInfo.PAYMENT_ID = PAYMENT_ID;
            loanInfo.PAYLIST_CODE = PAYLIST_CODE;
            summer.showProgress();
            ajaxRequest({
                type: 'post',
                url: 'appservice/payment/queryPaymentInfo',
                param: {
                    PAYMENT_ID: PAYMENT_ID
                }
            }, function(res) {
                summer.hideProgress();
                var Data;
                if (Object.prototype.toString.call(res.data) === '[object String]') {
                    Data = JSON.parse(res.data);
                } else {
                    Data = res.data;
                }
                if (Data.flag == 1) {
                    loanInfo.methodArr = Data.datas.PAYMENT_TYPE;
                    loanInfo.methodSlots[0].values = loanInfo.methodArr.map(function (e) {
                        return e.FLAG;
                    });
                    loanInfo.patternArr = Data.datas.LENDING_MODEL;
                    loanInfo.patternSlots[0].values = loanInfo.patternArr.map(function (e) {
                        return e.FLAG;
                    });
                    loanInfo.replaceArr = Data.datas.ISDEKOU;
                    loanInfo.replaceSlots[0].values = loanInfo.replaceArr.map(function (e) {
                        return e.FLAG;
                    });
                    loanInfo.payArr = Data.datas.PAYMONEY_TYPE;
                    loanInfo.paySlots[0].values = loanInfo.payArr.map(function (e) {
                        return e.FLAG;
                    });
                    // loanInfo.pledge = Data.datas.paymentMap.CS_PRICE;
                    // loanInfo.gps = Data.datas.paymentMap.GPS_MONEY;
                    // loanInfo.LAST_MONEY = Data.datas.paymentMap.LAST_MONEY;
                    loanInfo.collection = Data.datas.paymentMap.DEKOU_SQ;
                    loanInfo.PAY_MONEY = Data.datas.paymentMap.PAY_MONEY;
                } else {
                    summer.toast({
                        msg: "暂无数据"
                    });
                }
            }, function(err) {
                summer.hideProgress();
                summer.toast({
                    msg: "暂无数据"
                });
                console.log(err);
            });
            var PAY_ID = summer.pageParam.PAY_ID;
			var PROJECT_ID = summer.pageParam.PROJECT_ID;
            loanInfo.params.PAY_ID = PAY_ID;
			loanInfo.params.PROJECT_ID = PROJECT_ID;
        };
    </script>
</body>

</html>
