<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title>添加车辆</title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css">
		<link rel="stylesheet" href="../../css/mint.css">
		<link rel="stylesheet" href="./car.min.css">
		<script src="../../js/summer.js" ></script>
		<script src="../../js/jquery.min.js" ></script>
		<script src="../../js/font.js" ></script>
		<script src="../../js/vue.js" ></script>
		<script src="../../js/mint.js" ></script>
		<script src="../../js/common.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
	</head>
	<body>
		<div class="um-win" id="addCar" v-cloak>
			<div class="um-content addCar">
        <table>
          <tr @click="pickerDealer">
            <td>经销商</td>
            <td>
							<span v-if='dealer'>{{dealer}}</span><span class="grayColor" v-else>请选择</span>
							<i class="icon iconfont icon-enter"></i>
						</td>
          </tr>
					<tr @click="pickerCompany">
            <td>厂商</td>
            <td>
							<span v-if='company'>{{company}}</span><span class="grayColor" v-else>请选择</span>
							<i class="icon iconfont icon-enter"></i>
						</td>
          </tr>
			
					<tr @click="pickerModels">
            <td>选择车型</td>
            <td>
							<span v-if='carModels'>{{carModels}}</span><span class="grayColor"  v-else>请选择</span>
							<i class="icon iconfont icon-enter"></i>
						</td>
          </tr>
					<tr>
            <td>新车指导价</td>
            <td class='last'>
							{{guidePrice}}元
						</td>
					</tr>
					<tr>
            <td>实际价格</td>
            <td class='last'>
							<input type="text" @input="checkNumber($event,'realityPrice')" name="price" placeholder="请输入实际价格" v-model="realityPrice">元
						</td>
					</tr>
					<tr>
            <td>留购价</td>
            <td class='last'>
							<input type="text" @input="checkNumber($event,'holdPrice')" name="holdPrice" placeholder="请输入留购价" v-model="holdPrice">元
						</td>
					</tr>
					<tr>
						<td>数量</td>
						<td class='last'>
							<span>
								<input type="number"  name="number" placeholder="请输入数量" v-model="number">
							台</span>
						</td>
					</tr>
					<tr>
            <td>单台购置税</td>
            <td class='last'>
							<input type="text" @input="checkNumber($event,'onePrice')" name="onePrice" placeholder="请输入单台购置税" v-model="onePrice">元
						</td>
					</tr>
					<tr>
            <td>保险</td>
            <td class='last'>
							<input type="text" @input="checkNumber($event,'safePrice')" name="safePrice" placeholder="请输入保险" v-model="safePrice">元
						</td>
					</tr>
        </table>
				<mt-popup v-model="pickerColorStatus" position='bottom' class="pickerColor">
					<mt-picker value-key="FLAG" :slots="slots" @change="onValuesChange"></mt-picker>
					<p><span class="" @click="surePickerColor">取消</span><span class="" @click="surePickerColor('confirm')">确定</span></p>
				</mt-popup>
			</div>
		</div>
		<script>
				summerready=function(){
					console.log(summer.pageParam.item);
					if(summer.pageParam.item){
						addCar.initDate(summer.pageParam.item)
					}
					addCar.getData()
				}
				var addCar=new Vue({
					el:'#addCar',
					data:function(){
						return{
							dealer:'',
							company:'',
							carStatus:'new',
							carModels:'',
							color:'',
							guidePrice:'',
							realityPrice:'',
							holdPrice:'100',
							safePrice:'0',
							onePrice:'0',
							number:'',
							pickerColorStatus:false,
							pickedColor:'',
							id:'',
							PROJECT_ID:'',
							CLIENT_ID:'',
							slots: [
								{
									flex: 1,
									values: [],
									defaultIndex:0,
									className: 'slot1',
									textAlign: 'center'
								}
							]
						}
					},
					methods:{
						initDate:function(data){
								var _this=this;
								_this.dealer=data.SUPPLIERS_NAME;
								_this.company=data.COMPANY_NAME;
				/*				<tr @click="surePickerColor">
            <td>车辆种类</td>
            <!-- <td>车辆颜色</td> -->
            <td>
							<span v-if='color'>{{color}}</span><span  class="grayColor" v-else>请选择</span>
							<i class="icon iconfont icon-enter"></i>
						</td>
          </tr> */
								//_this.color=data.CAR_NAME;
								//_this.colorId=data.CAR_TYPE;

								_this.carModels=data.PRODUCT_NAME+" "+data.CATENA_NAME+" "+data.SPEC_NAME;
								_this.guidePrice=data.UNIT_PRICE;
								_this.realityPrice=data.UNIT_PRICE;
								_this.holdPrice=data.STAYBUY_PRICE;

								_this.onePrice=data.CCS;
								_this.safePrice=data.BX;
								_this.number=data.AMOUNT;
								_this.id=data.ROWNUM;
								summer.setStorage('pickerDealer',JSON.stringify({SUPPLIERS_NAME:data.SUPPLIERS_NAME,SUPPLIERS_ID:data.SUPPLIERS_ID}))
								summer.setStorage('pickerCompany',JSON.stringify({COMPANY_NAME:data.COMPANY_NAME,COMPANY_ID:data.COMPANY_ID}))
								summer.setStorage('pickerModels1',JSON.stringify({PRODUCT_NAME:data.PRODUCT_NAME,PRODUCT_ID:data.PRODUCT_ID}))
								summer.setStorage('pickerModels2',JSON.stringify({CATENA_NAME:data.CATENA_NAME,CATENA_ID:data.CATENA_ID}))
								summer.setStorage('pickerModels3',JSON.stringify({NAME:data.SPEC_NAME,ID:data.SPEC_ID}))

						},
						getData:function(){
							var _this=this;
							// ajaxRequest({
							// 	type:'POST',
							// 	url:'appservice/customer/datadictionary',
							// 	param:{
							// 		DATATYPE:'设备单位'
							// 	}
							// },function(res){
							// 	console.log("设备单位",res);
							//
							// },function(err){
							// 	console.log("err",err);
							// })
							ajaxRequest({
								type:'POST',
								url:'appservice/customer/datadictionary',
								param:{
									DATATYPE:'车辆种类'
								}
							},function(res){
								_this.slots[0].values=res.data.datas
								console.log("车辆种类",res);

							},function(err){
								console.log("err",err);
							})
						},
						checkNumber:function(e,param){
							var val=$(e.currentTarget).val()
							if(!/^([1-9]\d{0,9}|0)([.]?|(\.\d{1,2})?)$/.test(val)){
								if(param=='guidePrice'){
									this.guidePrice=''
								}else if(param=='realityPrice'){
									this.realityPrice=''
								}else if(param=='onePrice'){
									this.onePrice=''
								}else if(param=='safePrice'){
									this.safePrice=''
								}
							}
							if(param=='realityPrice'){
								if(this.realityPrice>this.guidePrice){
									summer.toast({msg:'实际价格不能高于指导价'})
									this.realityPrice=''
								}
							}
						},
						pickerDealer:function(){
							summer.openWin({
								id:'pickerDealer',
								url:'html/touristsClient/pickerDealer.html',
								create:false,
								type:'actionBar',
								actionBar: {
						      title: "选择经销商",
						      titleColor: "#ffffff",
						      backgroundColor: "#039BE5",
						      leftItem:{
						          image: "img/back.png",
						          method:'',
						          text:"返回",
						          textColor:"#ffffff"
						      }
								}
							})
						},
						pickerCompany:function(){
							var dealer=summer.getStorage('pickerDealer');
							if(dealer){
								summer.openWin({
									id:'pickerCompany',
									url:'html/touristsClient/pickCompany.html',
									create:false,
									type:'actionBar',
									pageParam:{id:JSON.parse(dealer).SUPPLIERS_ID},
									actionBar: {
										title: "选择厂商",
										titleColor: "#ffffff",
										backgroundColor: "#039BE5",
										leftItem:{
												image: "img/back.png",
												method:'',
												text:"返回",
												textColor:"#ffffff"
										}
									}
								})
							}else{
								summer.toast({msg:'请先选择经销商'})
							}
						},
						pickerModels:function(){
							var company=summer.getStorage('pickerCompany');
							if(company){
								summer.openWin({
									id:'pickerModels',
									url:'html/touristsClient/pickerModels.html',
									create:false,
									type:'actionBar',
									pageParam:{id:JSON.parse(company).COMPANY_ID},
									actionBar: {
							      title: "选择车型",
							      titleColor: "#ffffff",
							      backgroundColor: "#039BE5",
							      leftItem:{
							          image: "img/back.png",
							          method:'',
							          text:"返回",
							          textColor:"#ffffff"
							      }
									}
								})
							}else {
								summer.toast({msg:'请先选择厂商'})
							}
						},
						changCarStatus:function(e,status){
							$(e.currentTarget).addClass('active').siblings('.active').removeClass('active');
							this.carStatus=status;
						},
						onValuesChange:function(picker,values) {
							this.pickedColor=values[0];
				    },
						surePickerColor:function(param){
							this.pickerColorStatus=!this.pickerColorStatus;
							if(param=='confirm'){
								this.color=this.pickedColor.FLAG;
								this.colorId=this.pickedColor.CODE;
							}
						},
						save:function(){
							if(!this.dealer||!this.company||!this.carModels||!this.guidePrice||!this.holdPrice||this.onePrice==''||this.safePrice==''){
								summer.toast({msg:'请填写车辆的所有信息'})
								return
							}
							//summer.setStorage('carType',this.color)
							var param={};
							// summer.showProgress();
							param.SUPPLIERS_NAME=JSON.parse(summer.getStorage('pickerDealer')).SUPPLIERS_NAME;
							param.SUPPLIERS_ID=JSON.parse(summer.getStorage('pickerDealer')).SUPPLIERS_ID;
							param.COMPANY_NAME=JSON.parse(summer.getStorage('pickerCompany')).COMPANY_NAME;
							param.COMPANY_ID=JSON.parse(summer.getStorage('pickerCompany')).COMPANY_ID;
							//param.CAR_TYPE=this.colorId;
							//param.CAR_NAME=this.color;
							param.PRODUCT_NAME=JSON.parse(summer.getStorage('pickerModels1')).PRODUCT_NAME;
							param.PRODUCT_ID=JSON.parse(summer.getStorage('pickerModels1')).PRODUCT_ID;
							param.CATENA_NAME=JSON.parse(summer.getStorage('pickerModels2')).CATENA_NAME;
							param.CATENA_ID=JSON.parse(summer.getStorage('pickerModels2')).CATENA_ID;
							param.SPEC_NAME=JSON.parse(summer.getStorage('pickerModels3')).NAME;
							param.SPEC_ID=JSON.parse(summer.getStorage('pickerModels3')).ID;
							param.ROWNUM=this.id;
							param.UNITTEST='台';
							param.UNIT='1';
							param.AMOUNT=this.number;
							param.UNIT_PRICE=this.guidePrice;
							param.ACTUAL_PRICE=this.realityPrice;
							param.CCS=this.onePrice;
							param.BX=this.safePrice;
							param.STAYBUY_PRICE=this.holdPrice;
							console.log("param",JSON.stringify(param));
							summer.execScript({
									winId: "addCarList",
									script: "itemTemplate('"+JSON.stringify(param)+"')"
							});
							summer.closeWin()
						}
					}
				});
				function getDealer(){
					var dealer=summer.getStorage('pickerDealer');
					console.log(dealer);
					if(dealer){
						addCar.dealer=JSON.parse(dealer).SUPPLIERS_NAME;
					}
				}
				function getCompany(){
					var company=summer.getStorage('pickerCompany');
					console.log(company);
					if(company){
						addCar.company=JSON.parse(company).COMPANY_NAME;
					}
				}
				function getModels(){
					var models=summer.getStorage('pickerModels3');
					console.log(summer.getStorage('pickerModels1'),summer.getStorage('pickerModels2'),models);
					if(models){
						addCar.carModels=JSON.parse(summer.getStorage('pickerModels1')).PRODUCT_NAME+JSON.parse(summer.getStorage('pickerModels2')).CATENA_NAME+JSON.parse(models).NAME;
						addCar.guidePrice=JSON.parse(models).PRICE;
						addCar.realityPrice=JSON.parse(models).PRICE;
					}
				}

				function goBack(){
					addCar.save()
				}
		</script>
	</body>
</html>
