<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css">
		<link rel="stylesheet" href="../../css/mint.css">
		<style>
			.addCarList>ul li{
				background:#fff;
				margin-bottom: .2rem;
				height: 2.16rem;
			}
			.price{padding-left: .56rem; font-size: 13px;line-height: .4rem;}
			.mint-cell-swipe{
				height: 1.76rem;
				padding-left: .56rem;
				background: none;
			}
			.mint-cell-wrapper{
				height: 1.76rem;
				padding-left: 0;
				background: none;
			}
			.mint-cell-right{
				height: 2.16rem;
			}
			.title,.mint-cell-text{
				font-size: 16px;
				color:#039BE5;
			}
			.normal,.mint-cell-label{
				color:#333;
				font-size: 14px;
			}
		</style>
	</head>
	<body>
		<div class="um-win" id="addCarList" v-cloak>
			<div class="um-content addCarList" v-if="dataLength">
				<ul>
					<li v-for="(item,index) in addCarList" :key='index'>
						<template v-if="addCarList.length==1">
							<div class="inDiv" style="padding:.4rem 1rem; .4rem 0;">
								<p class="title">{{item.PRODUCT_NAME}}{{item.CATENA_NAME}}{{item.NAME}}</p>
								<p class="normal">{{item.COMPANY_NAME}}</p>
							</div>
							<div  class="fr one inDiv">
								<a href=""><i class="icon iconfont icon-call"></i></a>
							</div>
              <p class="price">成交价：&yen;{{item.UNIT_PRICE}}</p>
						</template>
						<mt-cell-swipe :title="item.PRODUCT_NAME+' | '+item.CATENA_NAME+' | '+item.NAME" :label="item.COMPANY_NAME" :right="[{content: '&nbsp;&nbsp;&nbsp;删除&nbsp;&nbsp;&nbsp;',style: {lineHeight:'1.76rem', background: '#f44336', color: '#fff' },handler: () =>deleteItem(index,ID)}]" v-else>
								<div class="fr">
									<i class="icon iconfont icon-enter"></i>
								</div>
						</mt-cell-swipe>
            <p class="price">成交价：&yen;{{item.UNIT_PRICE}}</p>
					</li>
				</ul>
      </div>
      <div id="noData" v-else>

      </div>
    </div>
		<script src="../../js/summer.js" ></script>
		<script src="../../js/jquery.min.js" ></script>
		<script src="../../js/font.js" ></script>
		<script src="../../js/vue.js" ></script>
		<script src="../../js/mint.js" ></script>
		<script src="../../js/common.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
    <script>
        // summerready=function(){
				// 	console.log(summer.pageParam);
				// 	vueTemplate.PROJECT_ID=summer.pageParam.id
				// 	vueTemplate.CLIENT_ID=summer.pageParam.CLIENT_ID
				// 	vueTemplate.getData()
        // }
        var vueTemplate=new Vue({
          el:'#addCarList',
          data(){
            return {
							addCarList:[
								{PRODUCT_NAME:"大众",CATENA_NAME:'揽胜',NAME:'X242543',COMPANY_NAME:'天行者科技',UNIT_PRICE:'233432'},
								{PRODUCT_NAME:"大众",CATENA_NAME:'揽胜',NAME:'X242543',COMPANY_NAME:'天行者科技',UNIT_PRICE:'233432'},
								// {PRODUCT_NAME:"大众",CATENA_NAME:'揽胜',NAME:'X242543'}

							],
							PROJECT_ID:'',
							CLIENT_ID:'',
							dataLength:true,
							swipeArr:[
						    {
						      content: '删除',
						      style: { background: 'red', color: '#fff' },
						      handler: () => this.$messagebox('delete')
						    }
						  ]
            }
          },
					methods:{
						getData(id){
							var _this=this;
							console.log(_this.PROJECT_ID);
							summer.showProgress();
							ajaxRequest({
								type:'POST',
								url:'appservice/foundproject/loadProjectPage',
								param:{
									PROJECT_ID:_this.PROJECT_ID
								}
							},function(res){
								console.log("res",res);
								summer.hideProgress()
								if(res.data.datas.EquipObj[0]){
									var length=res.data.datas.EquipObj.length;
									if(length>0){
										_this.dataLength=true
										_this.addCarList=res.data.datas.EquipObj
									}else{
										_this.dataLength=false
										_this.$nextTick(function(){
											createNull("noData")
										})
									}
								}
							},function(err){
								summer.hideProgress()
								console.log("err",err);
							})
						},
						deleteItem(i,id){
							var _this=this;
							summer.showProgress();
							ajaxRequest({
								type:'POST',
								url:'appservice/foundproject/deleteProjectPage',
								param:{
									ID:id
								}
							},function(res){
								console.log(JSON.stringify(res));
								_this.addCarList.splice(i,1)
								summer.hideProgress()
								summer.toast({msg:'删除成功'})
							},function(err){
								summer.hideProgress()
								alert(err);
							})
						},
						addItem(){
							summer.openWin({
								id:'addCar',
								url:'html/touristsClient/addCar.html',
								create:false,
								type:'actionBar',
								pageParam:{
									id: _this.PROJECT_ID,
									CLIENT_ID: _this.CLIENT_ID
								},
								actionBar: {
									title: '添加车辆',
									titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
									backgroundColor: "#039BE5",
									leftItem:{
											image: "img/back.png",
											method:'',//返回按钮自定义事件
											text:"返回",
											textColor:"#ffffff"  //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
									}
								}
							})
						},

						// save(){
						// 	//发请求
						// 	summer.execScript({
						// 	    winId: "setProject",
						// 	    script: "addRight('emergencyContract')"
						// 	});
						// 	summer.closeWin()
						// }
					}
        });
				function addCar(){
					vueTemplate.addItem()
				}
				function getData(){
					vueTemplate.getData()
				}
    </script>
  </body>
</html>
