<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title>添加车辆</title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../css/font-icons.css">
		<link rel="stylesheet" href="../../css/mint.css">
		<link rel="stylesheet" href="./car.min.css">
		<script src="../../js/summer.js" ></script>
		<script src="../../js/jquery.min.js" ></script>
		<script src="../../js/font.js" ></script>
		<script src="../../js/vue.js" ></script>
		<script src="../../js/mint.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
	</head>
	<body>
		<div class="um-win" id="pickerModels">
			<div class="um-content">
        <ul class="modelsList">
          <li v-for="(item,index) in modelsList" :key="index">
						<p>{{index}}</p>
						<ul class="pickerModels">
							<li v-for="(it,i) in item" @click="pickerModels(it)" :key="i">
								{{it.name}}
							</li>
						</ul>
					</li>
        </ul>
      </div>
    </div>
    <script>
      $(function(){
        new Vue({
          el:'#pickerModels',
          data(){
            return {
              modelsList:{
								'A':[{name:'奥迪',id:10},{name:"阿斯顿·马丁",id:11}],
								'B':[{name:'本田',id:20},{name:"别克",id:21},{name:"宝马",id:22},{name:"奔驰",id:23}],
								'C':[{name:'长安',id:30},{name:"长城",id:31}]
							}
            }
          },
					methods:{
						pickerModels(it){
							summer.openWin({
								id:'pickerModels-2',
								url:'html/touristsClient/pickerModels-2.html',
								create:false,
								type:'actionBar',
								pageParam:{carId:it.id},
								actionBar: {
						      title: it.name,
						      titleColor: "#000000", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
						      backgroundColor: "#34aadc",
						      leftItem:{
						          image: "img/back.png",
						          method:function(){summer.closeWin()},//返回按钮自定义事件
						          text:"取消",
						          textColor:"#000000"  //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
						      }
								}
							})
						}
					}
        })
      })
    </script>
  </body>
</html>
