<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title>添加车辆</title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../css/mint.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css">
		<link rel="stylesheet" href="./car.min.css">
		<script src="../../js/summer.js" ></script>
		<script src="../../js/jquery.min.js" ></script>
		<script src="../../js/font.js" ></script>
		<script src="../../js/vue.js" ></script>
		<script src="../../js/mint.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
	</head>
	<body>
		<div class="um-win" id="pickerModels">
			<div class="um-content">
				<div class="um-input-group pr">
          <i class="icon iconfont icon-nav_search"></i>
          <input type="search" class="form-control"  placeholder="搜索">
          <!-- <i class="um-input-clear ti-close"></i> -->
          <!-- <button class='btn btn-inline btn-sm'>搜索</button> -->
        </div>
				<mt-index-list>
					<mt-index-section v-for="(item,index) in modelsList" :key="index" :index="index">
						<div v-for="(it,i) in item"  @click="pickerCarModels(it)"  :key="i">
							<mt-cell  :title="it.name"></mt-cell>
						</div>
 					</mt-index-section>
				</mt-index-list>
      </div>
    </div>
    <script>
      $(function(){
        new Vue({
          el:'#pickerModels',
          data(){
            return {
              modelsList:{
								'A':[{name:'奥迪',id:10},{name:"阿斯顿·马丁",id:11}],
								'B':[{name:'本田',id:20},{name:"别克",id:21},{name:"宝马",id:22},{name:"奔驰",id:23}],
								'C':[{name:'长安',id:30},{name:"长城",id:31}],
								'D':[{name:'长安',id:30},{name:"长城",id:31}],
								'E':[{name:'长安',id:30},{name:"阿斯顿·马丁",id:31}],
								'F':[{name:'长安',id:30},{name:"长城",id:31}],
								'G':[{name:'长安',id:30},{name:"长城",id:31}],
								'H':[{name:'长安',id:30},{name:"阿斯顿·马丁",id:31}],
								'I':[{name:'长安',id:30},{name:"长城",id:31}],
								'J':[{name:'阿斯顿·马丁',id:30},{name:"长城",id:31}],
								'K':[{name:'长安',id:30},{name:"长城",id:31}],
								'L':[{name:'阿斯顿·马丁',id:30},{name:"长城",id:31}],
								'M':[{name:'长安',id:30},{name:"长城",id:31}],
								'N':[{name:'阿斯顿·马丁',id:30},{name:"长城",id:31}],
								'O':[{name:'阿斯顿·马丁',id:30},{name:"长城",id:31}],
								'P':[{name:'阿斯顿·马丁',id:30},{name:"长城",id:31}],
								'Q':[{name:'阿斯顿·马丁',id:30},{name:"长城",id:31}],
								'R':[{name:'阿斯顿·马丁',id:30},{name:"长城",id:31}],
							}
            }
          },
					methods:{
						pickerCarModels(it){
							summer.openWin({
								id:'pickerModels-2',
								url:'html/touristsClient/pickerModels-2.html',
								create:false,
								type:'actionBar',
								pageParam:{carId:it.id},
								actionBar: {
						      title: it.name,
						      titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
						      backgroundColor: "#039BE5",
						      leftItem:{
						          image: "img/back.png",
						          method:'',//返回按钮自定义事件
						          text:"取消",
						          textColor:"#ffffff"  //返回文字颜色，注意必须是6位数的颜色值。（3位数颜色值会不正常）
						      }
								}
							})
						}
					}
        })
      })
    </script>
  </body>
</html>
