.um-content{
   position: relative;
}
.list_1,.GPS{
   width: 100%;
   background-color: #fff;
}
.list_1 li,.GPS li{
   width: 100%;
   height: 0.9rem;
   border-bottom: 1px solid #f1f1f1;
   padding: 0 0.56rem;
}
.list_1 li span,.GPS li span{
   float: left;
   height: 0.9rem;
   line-height: 0.9rem;
   font-size: 0.28rem;
   color: #333;
}
.list_1 li b,.GPS li b{
   float: left;
   width: 0.06rem;
   height: 0.32rem;
   background-color: #039be5;
   margin: 0.28rem 0.08rem 0 0;
}
.list_1 li div,.GPS li div{
   float: right;
   height: 0.9rem;
   line-height: 0.9rem;
   font-size: 0.28rem;
   color: #9e9e9e;
}
.list_1 li div i,.list_1 li div span,.GPS li div i,.GPS li div span{
   float: right;
   font-style: normal;
}
.list_1 li div span,.GPS li div span{
   margin-left: 0.2rem;
   color: #dbdbdb;
}
.list_1 li input,.GPS li input{
   border: 0;
   background: none;
   float: right;
   height: 0.9rem;
   line-height: 0.9rem;
   font-size: 0.28rem;
   text-align: right;
   outline: none;
}
.uploadCertificate{
   width: 100%;
   height: 0.9rem;
   border-bottom: 1px solid #f1f1f1;
   padding: 0 0.56rem;
   background-color: #fff;
}
.uploadCertificate span{
   float: left;
   height: 0.9rem;
   line-height: 0.9rem;
   font-size: 0.28rem;
}
.uploadCertificate div{
   float: right;
   height: 0.9rem;
   line-height: 0.9rem;
   font-size: 0.28rem;
}
.uploadCertificate div i,.uploadCertificate div span{
   float: right;
   font-style: normal;
}
.uploadCertificate div i{
   color: #039be5;
}
.uploadCertificate div span{
   margin-left: 0.2rem;
   color: #dbdbdb;
}
.GPS li .type{
   height: 0.44rem;
   border: 1px solid #9e9e9e;
   border-radius: 0.08rem;
   box-sizing: content-box;
   margin-top: 0.2rem;
}
.GPS li .type span{
   float: left;
   width: 0.68rem;
   height: 0.44rem;
   margin: 0;
   line-height: 0.44rem;
   text-align: center;
   font-size: 0.24rem;
   color: #9e9e9e;
}
.GPS li:nth-of-type(1) span{
   font-size: 0.36rem;
   color: #000;
}
.GPS li .type .active{
   border: 0;
   background-color: #0394d3;
   color: #fff;
}
.saveBtn{
   position: absolute;
   width: 80%;
   height: 1rem;
   background-color: #0394d3;
   font-size: 0.28rem;
   line-height: 1rem;
   color: #fff;
   text-align: center;
   left: 50%;
   transform: translate(-50%);
   top: 10.2rem;
   border-radius: 0.1rem;
}
.gpsChoose {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: #ffffff;
}
.gpsChoose .picker-item {
  font-size: 0.28rem;
}
.gpsChoose > p {
    padding: .24rem .44rem;
    line-height: .88rem;
    padding: 0 .56rem;
    color: #039BE5;
    border-top: 1px solid #E0E0E0;
}
.gpsChoose > p span {
  color: #34aadc;
}
.gpsChoose > p span:last-child {
  float: right;
}
.mint-popup{
    color: #333;
    font-size: 0.28rem;
    width:100%;
    padding-top:.2rem;
}
.mint-popup p{
   line-height: .8rem;
   text-align: center;
}
.mint-popup p.border{
   border-bottom: 1px solid #f7f7f7;
}
