.navbar{
   height: 0.88rem;
   background-color: #fff
}
.navbar .pay_list{
   height: 0.88rem;
   display: flex;
   display: -webkit-flex;
   justify-content: space-around;
}
.navbar .pay_list li{
   height: 0.88rem;
   width: 100%;
   text-align: center;
   line-height: 0.88rem;
   color: #424242;
}
.navbar .pay_list .active{
   border-bottom: 0.06rem solid #039be5;
   color: #039be5;
}

.infoList{
   width: 100%;
   margin-bottom: 0.2rem;
   background-color: #fff;
}
.infoList:nth-of-type(3){
   margin-bottom: 0;
}
.infoList li{
   height: 0.9rem;
   padding: 0 0.56rem;
   border-bottom: 1px solid #f1f1f1;
}
.infoList .first{
   line-height: 0.9rem;
   font-size: 0.36rem;
   color: #333;
}
.infoList .first i{
   float: left;
   font-style: normal;
}
.infoList .first strong{
   float: left;
   width: 0.06rem;
   height: 0.32rem;
   background-color: #039be5;
   font-style: normal;
   margin: 0.28rem 0.08rem 0 0;
}
.infoList li span:nth-of-type(1){
   float: left;
   color: #333;
}
.infoList li span:nth-of-type(2){
   float: right;
   color: #424242;
}
.infoList li span{
   height: 0.8rem;
   line-height: 0.8rem;
   font-size: 0.28rem;
   color: #333;
}
.infoList li span b{
   font-weight: normal;
}
.processNum{
   height: 0.9rem;
   padding: 0 0.56rem;
   font-size: 0.28rem;
   line-height: 0.9rem;
   color: #333;
   background-color: #fff;
   font-weight: normal;
   margin: 0 0 0.2rem 0;
}
.processList{
   width: 100%;
   background-color: #fff;
   padding-left: 0.7rem;
   padding-top: 0.24rem;
}
.processList li{
   width: 100%;
   height: 2rem;
   position: relative;
   border-left: 1px dotted #dddddd;
   padding-left: 0.42rem;
}
.processList li:last-child{
   border-left: 0;
}
.processList li img{
   display: block;
   border: 0;
   position: absolute;
   width: 0.28rem;
   height: 0.28rem;
   left: -0.16rem;
}
.processList li .box{
   height: 1.74rem;
   border-bottom: 1px solid #f1f1f1;
}
.processList li:last-child .box{
   height: 1.74rem;
   border-bottom: 0;
}
.processList li .box .p1{
   height: 0.32rem;
   line-height: 0.32rem;
   font-size: 0.32rem;
   color: #039be5;
   margin-bottom: 0.22rem;
}
.processList li .box .p2,.processList li .box .p3{
   height: 0.28rem;
   line-height: 0.28rem;
   font-size: 0.28rem;
   color: #9e9e9e;
   margin-bottom: 0.22rem;
}
.processList li .box .p2{
   margin-left: -0.12rem;
}
