html,body{
    background-color: #f6f6f6;
}
.clearfix:after{
    content: ".";
    overflow: hidden;
    visibility: hidden;
    height: 0;
    clear: both;
    display: block;
}
.processList{
   width: 100%;
   background-color: #fff;
   padding-left: 0.7rem;
   padding-top: 0.24rem;
}
.processList li{
    width: 100%;
    position: relative;
    padding-left: 0.42rem;
    padding-bottom: 0.4rem
}
.borderActive{
   border-left: 1px dotted #dddddd;
}
.processList li img{
   display: block;
   border: 0;
   position: absolute;
   width: 0.28rem;
   height: 0.28rem;
   left: -0.16rem;
}
.processList li .box{
   border-bottom: 1px solid #f1f1f1;
}
.processList li:last-child .box{
   border-bottom: 0;
}
.processList li .box .p1{
   height: 0.32rem;
   line-height: 0.32rem;
   font-size: 0.32rem;
   color: #039be5;
   margin-bottom: 0.22rem;
}
.processList li .box .p2,.processList li .box .p3{
    line-height: 0.4rem;
    font-size: 0.28rem;
    color: #9e9e9e;
    margin-bottom: 0.22rem;
}
.processList li .box .p2{
   margin-left: -0.12rem;
}
.text{
    width: 100%;
    position: relative;
    margin-top: 0.1rem;
    height: 2.6rem;
}
.text textarea{
    resize: none;
    outline: none;
    width: 7.2rem;
    border: 1px solid #f1f1f1;
    border-radius: 0.1rem;
    position: absolute;
    left: 50%;
    margin-left: -3.6rem;
    padding: 0.2rem;
    height: 2.4rem;
}

.btns span{
   height: 0.9rem;
   background-color: #039be5;
   color: #fff;
   font-size: 0.32rem;
   line-height: 0.9rem;
   text-align: center;
   margin-right: 0.1rem;
   border-radius: 0.1rem;
}
.none{
   display: none;
}
.submitBtn{
   padding:0.1rem 0.2rem;
}
.processNum {
    height: 0.9rem;
    padding: 0 0.56rem;
    font-size: 0.28rem;
    line-height: 0.9rem;
    color: #333;
    background-color: #fff;
    font-weight: normal;
    margin: 0 0 0.2rem 0;
}
