 
  .isGroup span.active {
  color: #ffffff;
  border-color: #34aadc;
  background: #34aadc;
}
.isGroup{
	display:inline-block;
	line-height:1;
	border:1px solid #e0e0e0;
	border-radius:5px;
}
.isGroup span{
	display: inline-block;
	padding:5px 15px;
	font-size:0.24rem;
	color:#9e9e9e;
	line-height:1;
}
.baseMessage ul{
	background:#ffffff;
}
.baseMessage ul li{
	line-height:0.88rem;
	border-bottom:1px solid #f7f7f7;
	color:#333;
	font-size:0.28rem;
}
.baseMessage ul li p .right  .first{
	
	color:#333;
}
.baseMessage ul li p .right .second{
	color:#dedede;
}
.pickerColor {
  width: 100%;
  background: #ffffff;
}
i.iconfont{
	color:#dbdbdb;
}
.pickerColor > p {
      line-height: .88rem;
    padding: 0 .56rem;
    color: #039BE5;
    border-top: 1px solid #E0E0E0;
}
.pickerColor > p span {
  color: #34aadc;
}
.pickerColor > p span:last-child {
  float: right;
}
#pickerDealer .um-input-group {
  padding: .3rem .8rem;
  height: 1.2rem;
  line-height: .6rem;
  background: #34aadc;
}
#pickerDealer .um-input-group * {
  height: .6rem;
  line-height: .6rem;
}
#pickerDealer .um-input-group input {
  background: #ffffff;
  border-radius: .6rem;
  padding: 0 1.2rem 0 .6rem;
}
#pickerDealer .um-input-group .icon-nav_search {
  left: 1rem;
  position: absolute;
  top: .32rem;
  z-index: 1;
}
#pickerDealer .um-input-group button {
  position: absolute;
  padding: 0;
  right: .6rem;
  width: 1.2rem;
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
#pickerDealer .dealerList {
  background: #ffffff;
  padding: .22rem 0;
}
#pickerDealer .dealerList li {
  height: .8rem;
  line-height: .8rem;
  padding: 0 .44rem;
  border-bottom: 1px solid #aaaaaa;
}
#pickerDealer .mint-popup {
  width: 100%;
}
#pickerDealer .mint-popup > p {
  text-align: center;
  line-height: .6rem;
}
#pickerDealer .mint-popup ul {
  padding-bottom: .44rem;
}
#pickerDealer .mint-popup ul li {
  border-top: 1px solid #aaaaaa;
  padding: .2rem .44rem;
}
#pickerDealer .mint-popup ul li p {
  color: #aaaaaa;
}
#pickerDealer .mint-popup ul li p:first-child {
  color: #000000;
}
#pickerDealer .mint-popup ul li i {
  position: absolute;
  top: 1rem;
  right: .44rem;
  color: #aaaaaa;
}
.modelsList p {
  padding: 0 .44rem;
  background: #aaaaaa;
}
.pickerModels {
  background: #ffffff;
}
.pickerModels li {
  height: .8rem;
  line-height: .8rem;
  padding: 0 .44rem;
  border-bottom: 1px solid #aaaaaa;
}
