.um-header-light{
	line-height:0.88rem;
	min-height:0px;
}

.sera{
	padding:0.13rem 0.19rem;
	background:#f6f6f6;
	
}
.sera p.txt{
	display:inline-block;
}
.iconfont{
	font-size:0.32rem;
}
.sera .s-box{
	height:0.6rem;
	line-height:0.54rem;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #ededed;
	text-align: center;
	font-size:0.28rem;
	color:#dedede;
}
.sera .s-box:active{
	transform: scale(0.95);
}
.s-box .icon-sousuo:before{
	font-size:0.28rem;
	color:rgba(136,153,170,1);	
}
.customList:first-child{
	margin-top:0px;
}
.customList{
	 border-top:5px solid #007AFF;
	 border-radius:5px;
	 margin-top:0.2rem;
	 position: relative;
}
	.customList p.title{
	font-size:0.36rem;
	color:#007AFF;
	line-height:0.8rem;
	border-bottom:1px solid #f7f7f7;
}
.customList p.title span{
	color:#666;
}
.customList p.type{
	font-size:0.32rem;
	color:#999;
	line-height:0.8rem;
}
.customList p.time{
	font-size:0.32rem;
	color:#999;
	line-height:0.8rem;
	border-bottom:1px solid #f7f7f7;
}
.customList p.select{
	line-height:0.8rem;
	 
}
.customList p.time .manager{
	font-size:0.36rem;
}
.customList .center:after{
	content: "";
	display: inline-block;
	width: 0.24rem;
	height: 0.24rem;
	border-right: 2px solid #d4d4d4;
	border-bottom: 2px solid #d4d4d4;
	transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);	/* IE 9 */
	-moz-transform: rotate(-45deg);	/* Firefox */
	-webkit-transform: rotate(-45deg); /* Safari å’Œ Chrome */
	-o-transform: rotate(-45deg);
	position: absolute;
	right: 0.6rem;
	top:1.5rem;
}
.customList .center:active{
	background:#f4f4f4;
}