.um-header-light{
	line-height:0.88rem;
	min-height:0px;
}
.um-content{
	background:#f6f6f6;
}
.sera{
	padding:0.13rem 0.19rem;
	background:#f6f6f6;

}
.sera p.txt{
	display:inline-block;
}
.iconfont{
	font-size:0.32rem;
}
.sera .s-box{
	height:0.6rem;
	line-height:0.54rem;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #ededed;
	text-align: center;
	font-size:0.28rem;
	color:#dedede;
}
.sera .s-box:active{
	transform: scale(0.95);
}
.s-box .icon-sousuo:before{
	font-size:0.28rem;
	color:rgba(136,153,170,1);
}
.customList:first-child{
	margin-top:0px;
}
.customList{
	 position: relative;
	 margin-top:0.2rem;
}
	.customList p.title{
	font-size:0.32rem;
	color:#039be5;
	line-height:0.88rem;
	border-bottom:1px solid #f7f7f7;
}
.customList p.title span{
	color:#424242;

}

.customList p.select{
	line-height:0.88rem;
	color:#424242;
	font-size:0.24rem;
	border-bottom:1px solid #f6f6f6;



}
.customList p.select span{
	border-right:1px solid #f6f6f6;
	color:#039be5;
}
.customList p.select span:active{
	 background:#f6f6f6;
}
.customList p.select span:last-child{
	border-right:0px solid #f6f6f6;
	color:#f44336;
}
.customList p.time .manager{
	font-size:0.36rem;
}
.customList .center{
	padding:0.3rem 0.2rem;
	border-bottom:1px solid #f7f7f7;
	font-size:0.28rem;
	color:#424242;
}
.customList .center p.status span{
	padding-right:0.7rem;
}
.customList .center:after{
	content: "";
	display: inline-block;
	width: 0.24rem;
	height: 0.24rem;
	border-right: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);	/* IE 9 */
	-moz-transform: rotate(-45deg);	/* Firefox */
	-webkit-transform: rotate(-45deg); /* Safari å’Œ Chrome */
	-o-transform: rotate(-45deg);
	position: absolute;
	right: 0.6rem;
	top:1.7rem;
}
.customList .center:active{
	background:#f4f4f4;
}

.null {
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    z-index: 999;
}
.nullCon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nullBox{
    width: 2.34rem;
    height: 3.8rem;
    position: relative;
}
.nullBox img{
    width: 100%;
    display: block;
    border: 0;
}
.nullBox p{
    width: 100%;
    height: 0.28rem;
    color: #cbcbcb;
    line-height: 0.28rem;
    font-size: 0.28rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}
