#wrap{
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
           flex-flow: column;
}
#header{
    -webkit-box-flex-shrink:0;
    -webkit-flex-shrink:0;
    flex-shrink:0;  
    width: 100%;
    min-height: 0.88rem;
}
#main{
    -webkit-box-flex: 1; 
    -webkit-flex: 1;
    flex: 1;
   	background-color:#fff;
}
.bar{
    position: static;
}

body, html{width: 100%;height: 100%; margin:0;font-family:"微软雅黑";}
body {
	font-size: 0.34rem;
	line-height: 0.42rem;
	color: #000;
	background-color: #f4f4f4;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1;
}
dl,ul,ol,li,dd,dt{
	margin:0;
	padding:0;
}
.bar{
	overflow:hidden;
	display: -webkit-box; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	padding:6px 10px;
	background:#ececec;
	box-sizing:border-box;
}
.bar form{
	-webkit-box-flex: 1; 
	-webkit-flex: 1;
	flex: 1;	
	background:#fff;
	border-radius:5px;	
	overflow:hidden;
	display: -webkit-box; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex; 
	height:0.6rem;
	line-height:0.56rem;
}

.bar .icon-sousuo:before{
	font-size:0.28rem;
	color:rgba(136,153,170,1);	
	margin: 0 6px;
}
.bar form input[type="search"]{
	width:5rem;
	height:0.6rem;
	line-height:0.6rem;
	border:none;
	 color: rgba(136,153,170,1);
    font-size: 0.26rem;
}
.bar span{
	width:35px;
	height:0.6rem;
	line-height:0.6rem;
	margin-left:10px;
	font-size:14px;
}
.empty{
	width:100%;
	height:5.07rem;
	background:url(../image/empty.png) no-repeat center bottom;
	background-size:2.11rem 2.87rem;
}
.list{
	width:100%;
	height:1.2rem;
	box-sizing:border-box;
	padding:0.2rem;
	position: relative;
}
.list dl{
	padding-left:0.15rem;
}
.list dl dt{
	font-size:0.28rem;
	color:#343434;
}
.list dl dd{
	font-size:0.24rem;
	color:#a9a9a9;
}
.clearhis {
	width: 100%;
	height: 0.8rem;
	background: #fff;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.24rem;
	color: #a9a9a9;
	background-color: #f4f4f4;
}
/*从ratchet.css提取出*/
input[type="search"] {
    -webkit-appearance: none;
    background-color: #fff;
    outline: none;  
}

.border:after{
	border-bottom:1px solid #e4e4e4;
}
