.um-content div.box {
    background: #fff;
    padding: 0.2rem 0.2rem 0.2rem 0.38rem;
    position:relative;
}
.um-content div.box:after{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.um-content div.box span.title {
    height: 0.5rem;
    line-height: 0.5rem;
    color: #8899aa;
    margin-bottom: 0.24rem;
    font-size: 0.28rem;
}

.um-content p.showBox {
    height: 0.4rem;
    width: 100%;
    position: relative;
}

.um-content p.showBox span {
    display: inline-block;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.24rem;
    color: #8899aa;
}

#question {
    word-break: break-all;
    display: block;
    width: 100%;
    height: 1.6rem;
    line-height: 0.4rem;
    text-indent: 1em;
    resize: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: justify;
    outline: none;
     border: none;
    border-color: #fff;
    font-size:0.28rem;
}
#question::-webkit-input-placeholder {
    text-indent: 1.1em;
}

.um-content div.box .picItem {
    float: left;
    width: 1.26rem;
    height: 1.26rem;
    margin: 0.2rem 0rem 0.13rem 0.2rem;
}

div.picItem {
    background: url(../img/addImg.png) no-repeat 0 0;
    background-size: 100% 100%;
}
#ibox .con {
    float: left;
    position: relative;
    width: 22.5%;
    margin-right: 3.3%;
    margin-bottom: 0.1rem;
    border-radius: 0.1rem;
}

#ibox .con:nth-child(4n) {
    margin-right: 0;
}

#ibox .con-con {
    padding-top: 100%;
    position: relative;
    margin-bottom: 0.1rem;
    margin-top: 0.24rem;
}

#ibox .con-con .font {
    width: 98%;
    height: 98%;
    position: absolute;
    left: 1px;
    top: 1px;
    border: 1px solid #f0f0f0;
    border-radius: 0.1rem;
}
#ibox .con-con .font span{
   width: 0.4rem;
   height: 0.4rem;
   line-height: 0.4rem;
   font-size: 0.4rem;
   color: #dbdbdb;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -0.2rem;
   margin-top: -0.2rem;
}
#ibox img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}


#ibox .close:before{
	position: absolute;
    top: -0.2rem;
    right: -0.15rem;
    /* width: 0.26rem; */
    /* height: 0.26rem; */
    font-size: 0.32rem;
    color: #ddd;
    z-index: 100;
}
.bottomDelete{
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    width: 0.35rem;
    height: 0.35rem;
    background: #fff;
    border-radius: 50%;
    z-index: 90;
}
.um-content .box #uploadForm {
    margin: -0.08rem -0.2rem 0;
    padding: 0.08rem 0.2rem 0;
    overflow: hidden;
}

.um-content .clearfix {
    margin-top: 0.2rem;
}
.x-placeholder {
    left: 0 !important;
    margin-left: 0.34rem;
    font-size:0.28rem;
    color: #8899AA !important;
}
.title-box {
    position: relative;
}
.title-box .picShow {
    display: inline-block;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.12rem;
    font-size: 0.24rem;
    color: #8899aa;
}
