body,html{
   background-color: #f6f6f6;
}
.um-content{
   position: relative;
}
.box{
   width: 100%;
   height: 3.7rem;
   overflow: hidden;
   position: relative;
}
.userInfo{
   width: 100%;
   height: 3.7rem;
   background: url('../../img/banner.png') no-repeat left top;
   background-size: 100% 100%;
   -webkit-filter: blur(4px); /* Chrome, Opera */
   -moz-filter: blur(4px);
   -ms-filter: blur(4px);
   filter: blur(4px);
}
.box img,.box p{
   position: absolute;
}
.box img{
   display: block;
   border: 0;
   width: 1.2rem;
   height: 1.2rem;
   background-color: #f1f1f1;
   border-radius: 0.6rem;
   left: 50%;
   top: 0.72rem;
   z-index: 999;
   margin-left: -0.6rem;
}
.box p{
   font-size: 0.32rem;
   height: 0.32rem;
   line-height: 0.32rem;
   color: #fff;
   left: 50%;
   transform: translate(-50%);
   top: 2.2rem;
   z-index: 999;
}
.userList{
   width: 100%;
}
.userList li{
   position: relative;
   width: 100%;
   height: 0.88rem;
   background-color: #fff;
   border-bottom: 1px solid #f1f1f1;
   padding: 0 0.56rem;
}
.userList li:nth-of-type(1){
   margin-bottom: 0.2rem;
}
.userList li span,.userList li i{
   float: left;
}
.userList li span{
   width: 0.32rem;
   height: 0.88rem;
   font-size: 0.32rem;
   line-height: 0.88rem;
   margin-right: 0.22rem;
   color: #039be5;
}
.userList li i{
   font-style: normal;
   font-size: 0.28rem;
   height: 0.88rem;
   line-height: 0.88rem;
   color: #333;
}
.companyInfo{
   height: 0.88rem;
   float: right;
}
.companyInfo b{
   float: left;
}
.companyInfo .company{
   font-size: 0.28rem;
   height: 0.88rem;
   line-height: 0.88rem;
   color: #424242;
   font-weight: normal;
}
.userList .companyInfo span{
   font-size: 0.28rem;
   height: 0.88rem;
   line-height: 0.88rem;
   color: #dbdbdb;
   font-weight: normal;
   margin-left: 0.2rem;
}
strong{
   position: absolute;
   right: 1.2rem;
   top: 0.28rem;
   width: 0.32rem;
   height: 0.32rem;
   border: 1px solid #039be5;
   border-radius: 0.05rem;
   line-height: 0.32rem;
   font-size: 0.24rem;
   text-align: center;
   color: #039be5;
   font-weight: normal;
}
.logout{
   position: absolute;
   width: 100%;
   height: 0.88rem;
   background-color: #fff;
   border: 0;
   outline: none;
   color: #9e9e9e;
   font-size: 0.28rem;
   line-height: 0.88rem;
   text-align: center;
   bottom: 0rem;
}
.um-modal .um-modal-title{
	font-weight:normal;
	color:#485358;
}
.um-modal{
	border-radius:5px;
}
.um-modal .um-modal-btns .btn:visited{
	color:#485358;
	font-weight:normal;
}
.um-modal .um-modal-btns .active.btn{
	background-color:white;
}
.um-modal .um-modal-content{
	border-bottom:1px solid #f0f0f0;
}
.um-modal .um-modal-btns .btn:visited, .um-modal .um-modal-btns .btn-bg:visited, .um-modal .um-modal-btns .um-btn:visited{
    color: #039be5!important;
    font-weight: normal!important;
}
