.um-content{
   position: relative;
}
.warrantyList{
   width: 100%;
   background-color: #fff;
}
.warrantyList li{
   width: 100%;
   height: 0.9rem;
   border-bottom: 1px solid #f1f1f1;
   padding: 0 0.56rem;
}
.warrantyList li span{
   float: left;
   height: 0.9rem;
   line-height: 0.9rem;
   font-size: 0.28rem;
   color: #333;
}
.warrantyList li div{
   float: right;
   height: 0.9rem;
   line-height: 0.9rem;
   font-size: 0.28rem;
   color: #424242;
}
.warrantyList li div i,.warrantyList li div span{
   float: right;
   font-style: normal;
}
.warrantyList li div i{
   color: #9e9e9e;
}
.warrantyList li div span{
   margin: 0 0.1rem;
}
.warrantyList li input{
   border: 0;
   background: none;
   float: right;
   height: 0.28rem;
   line-height: 0.28rem;
   font-size: 0.28rem;
   text-align: right;
   outline: none;
   margin-top: 0.3rem;
   margin-right: 0.05rem;
}
.insurer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  background: #ffffff;
}
.insurer .picker-item {
  font-size: 0.28rem;
}
.insurer > p {
    padding: .24rem .44rem;
    line-height: .88rem;
    padding: 0 .56rem;
    color: #039BE5;
    border-top: 1px solid #E0E0E0;
}
.insurer > p span {
  color: #34aadc;
}
.insurer > p span:last-child {
  float: right;
}
.picker-slot-wrapper{
    height: auto;
}
.mint-popup{
   color: #333;
   font-size: 0.28rem;
   width:100%;
   padding-top:.2rem;
}
.mint-popup p{
   line-height: .8rem;
   text-align: center;
}
.mint-popup p.border{
   border-bottom: 1px solid #f7f7f7;
}
strong{
   float: right;
   height: 0.9rem;
   line-height: 0.9rem;
   font-weight: normal;
   font-size: 0.28rem;
   color: #333;
}
.warrantyList li div .upload{
   color: #039be5;
}
.warrantyList li div .icon-enter{
   margin: 0;
   color: #dbdbdb;
}
