.navbar{
   height: 0.8rem;
}
.navbar .pay_list{
   height: 0.8rem;
   display: flex;
   display: -webkit-flex;
   justify-content: space-around;
}
.navbar .pay_list li{
   width: 100%;
   text-align: center;
   line-height: 0.8rem;
}
.active{
   border-bottom: 0.05rem solid #0394d3;
}
