.um-header-light {
    line-height: 0.88rem;
    min-height: 0px;
}

.um-content, html {
    background: #f6f6f6;
}

.sera {
    padding: 0.13rem 0.19rem;
    background: #f6f6f6;
}

.sera p.txt {
    display: inline-block;
}

.iconfont {
    font-size: 0.32rem;
}

.sera .s-box {
    height: 0.6rem;
    line-height: 0.54rem;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #ededed;
    text-align: center;
    font-size: 0.28rem;
    color: #dedede;
}

.sera .s-box:active {
    transform: scale(0.95);
}

.s-box .icon-sousuo:before {
    font-size: 0.28rem;
    color: rgba(136, 153, 170, 1);
}

.navbar {
    height: 0.88rem;
    background-color: #fff
}

.navbar .pay_list {
    height: 0.88rem;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
}

.navbar .pay_list li {
    width: 100%;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.32rem;
    color: #424242;
}

.active {
    border-bottom: 0.06rem solid #039be5;
}

.userList {
    margin-top: 0.1rem;
    width: 100%;
}

.userList li {
    margin-bottom: 0.2rem;
    background-color: #fff;
}

.userList .title {
    width: 100%;
    height: 0.88rem;
    border-bottom: 1px solid #f7f7f7;
    padding: 0 0.56rem;
}

.userList .title .name {
    float: left;
    height: 0.88rem;
    color: #0394d3;
    font-size: 0.32rem;
    line-height: 0.88rem;
}

.userList .title .state {
    float: right;
    height: 0.88rem;
    color: #424242;
    font-size: 0.24rem;
    line-height: 0.88rem;
    margin-left: 0.1rem;
}

.userList .title .icon-customer {
    float: right;
    height: 0.88rem;
    color: #424242;
    font-size: 0.28rem;
    line-height: 0.88rem;
}

.content {
    padding: 0.2rem 0.56rem;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
}

.content:after {
    content: ".";
    overflow: hidden;
    visibility: hidden;
    height: 0;
    clear: both;
    display: block;
}

.leftCon {
    float: left;
    height: 100%;
}

.enter {
    float: right;
    height: 2rem;
    width: 2rem;
}

.enter i, .enter b {
    float: right;
}

.enter .icon-enter {
    float: right;
    width: 0.28rem;
    height: 2rem;
    color: #dbdbdb;
    font-size: 0.28rem;
    line-height: 2rem;
    margin-left: 0.1rem;
}

.enter b {
    float: right;
    font-weight: normal;
    height: 2rem;
    color: #424242;
    font-size: 0.28rem;
    line-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 1.6rem;
}

.content p {
    height: 0.5rem;
    line-height: 0.5rem;
    color: #8c8c8c;
    font-size: 0.28rem;
}

.content .p1 {
    color: #424242;
}

.content span {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    right: 0.3rem;
    top: 0.7rem;
}

.footer {
    width: 100%;
    height: 0.88rem;
}

.footerList {
    width: 100%;
    height: 100%;
}

.footerList li {
    float: right;
    height: 0.88rem;
    width: 50%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerList li div{
    height: 0.88rem;
}
.footerList li div i{
    font-size: 0.30rem;
    line-height: 0.88rem;
    height: 0.88rem;
    color: #039be5;
    font-style: normal;
    margin-right: 0.08rem;
    float: left;
}
.footerList li div span{
    float: left;
    font-size: 0.24rem;
    height: 0.88rem;
    line-height: 0.95rem;
    color: #039be5;
}
.footerList li:nth-of-type(2) {
    box-sizing: border-box;
    border-right: 1px solid #e0e0e0;
}

.null {
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
    position: fixed;
    z-index: 999;
}
.nullCon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nullBox{
    width: 2.34rem;
    height: 3.8rem;
    position: relative;
}
.nullBox img{
    width: 100%;
    display: block;
    border: 0;
}
.nullBox p{
    width: 100%;
    height: 0.28rem;
    color: #cbcbcb;
    line-height: 0.28rem;
    font-size: 0.28rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}
