<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../../css/iuapmobile.um.css">
		<link rel="stylesheet" href="../../css/fonts/iconfont.css">
		<link rel="stylesheet" href="../../css/mint.css">
		<link rel="stylesheet" href="./index.min.css">
	</head>
	<body>
		<div class="um-win" id="statementDetail" v-cloak>
			<div class="um-content statementDetail">
				<table>
					<tr>
						<td class="first"><i class="icon iconfont icon-user"></i></td>
						<td>
							<p>{{name}}</p>
							<p>{{number}}</p>
						</td>
					</tr>
				</table>
				<section>
					<p>来款时间</p>
					<div>
						<p>
							<span @click="openPicker('start')" :class="{default:!startDate}"><template v-if="!startDate" class="default">请选择开始日期</template><template v-else>{{startDate}}</template></span>
							<b>至</b>
							<span  @click="openPicker('end')" :class="{default:!endDate}"><template v-if="!endDate">请选择开始日期</template><template v-else>{{endDate}}</template></span>
						</p>
						<p>	例：2016年01月01日</p>
					</div>
					<button class="fr">查询</button>
				</section>
			</div>

			<mt-datetime-picker  ref="picker"  type="date"  v-model="pickerValue"
				cancel-text='取消'
				confirm-text='确定'
				:start-date='startdata'
				:end-date='enddata'
				@confirm="handleConfirm"
				year-format="{value} 年"
				month-format="{value} 月"
				date-format="{value} 日">
			</mt-datetime-picker>
		</div>
		<script src="../../js/summer.js" ></script>
		<script src="../../js/jquery.min.js" ></script>
		<script src="../../js/font.js" ></script>
		<script src="../../js/vue.js" ></script>
		<script src="../../js/mint.js" ></script>
		<script src="../../js/common.js" ></script>
		<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js" ></script>
		<script>
				var salesDetailVue=new Vue({
					el:'#statementDetail',
					data:function(){
						return{
							name:'张六',
							number:'2016-VO3242',
							startDate:"",
							endDate:"",
							startdata:new Date("1990-01-01"),
							enddata:new Date(),
							state:'',
							pickerValue:'',
							count:1,
              list:[
                {money:'4015.87',hasMoney:"3221.96",rateMoney:'774.15',lastMoney:'1263.93'},
                {money:'4015.87',hasMoney:"3221.96",rateMoney:'774.15',lastMoney:'1263.93'},
                {money:'4015.87',hasMoney:"3221.96",rateMoney:'774.15',lastMoney:'1263.93'},
                {money:'4015.87',hasMoney:"3221.96",rateMoney:'774.15',lastMoney:'1263.93'},
                {money:'4015.87',hasMoney:"3221.96",rateMoney:'774.15',lastMoney:'1263.93'},
                {money:'4015.87',hasMoney:"3221.96",rateMoney:'774.15',lastMoney:'1263.93'},
                {money:'4015.87',hasMoney:"3221.96",rateMoney:'774.15',lastMoney:'1263.93'},
                {money:'4015.87',hasMoney:"3221.96",rateMoney:'774.15',lastMoney:'1263.93'}
              ]
						}
					},
					methods:{
						handleConfirm:function(value){
							this.pickerValue=value;
							console.log(value);
							if(this.state=='start'){
								this.startDate=getFormatDate(value)
							}else if(this.state=='end'){
								this.endDate=getFormatDate(value)
							}
							function getFormatDate(date){
								var date=new Date(date), seperator1 = "-";
								var year = date.getFullYear(), month = date.getMonth() + 1, strDate = date.getDate();
								if (month >= 1 && month <= 9) {
									month = "0" + month;
								}
								if (strDate >= 0 && strDate <= 9) {
									strDate = "0" + strDate;
								}
							 return  year +'年' + month +'月'+ strDate;
						 }
						},
						openPicker:function(val) {
							this.state=val
							if(this.count=='1'){
								this.handleConfirm(new Date());
								this.count=0;
							}
							// if(val=='start'){
							// 	if(this.endDate){this.enddata=new Date(this.endDate)}
							// }else if (val=='end') {
							// 	if(this.startDate){this.startdata=new Date(this.startDate)}
							// }
							this.$refs.picker.open();
						},
					}
				});
		</script>
	</body>
</html>
