<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="../../css/iuapmobile.um.css">
	<link rel="stylesheet" href="../../css/fonts/iconfont.css">
	<link rel="stylesheet" href="../../css/login.css">
	<script src="../../js/summer.js"></script>
	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/Frameworks/iuapmobile.frameworks.ui.js"></script>
	<script src="../../js/font.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../js/vue.js"></script>
</head>

<body>
	<div class="um-frame" id="index">

		<div class="um-content">
			<!-- <img src="" class="loginTitle"></img> -->
			<form action="">
				<dl>
					<dt class="iconfont icon-login"></dt>
					<dd>
						<input v-model="phoneNum" type="num" placeholder="手机号">
					</dd>
				</dl>
				<dl>
					<dt class="iconfont icon-key"></dt>
					<dd>
						<input v-model="code" type="text" placeholder="验证码">
					</dd>
				</dl>
				<span v-bind:class="codeClassObject" @click="achieveCode()">{{codeTxt}}</span>
				<span class="forget">收不到验证码？试试语音</span>
				<button type="button" class="loginBtn" @click="toLogin()">登录</button>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		var customerLogin = new Vue({
			el: '#index',
			data: {
				/* 验证码区域文本 */
				codeTxt: "获取验证码",
				/* 手机号 */
				phoneNum: "",
				code: "",
				/* 后台返回验证码 */
				getCode: "",
				/* 客户信息 */
				customerInfo: "",
				/* 定时器ID */
				codeTimer: null
			},
			computed: {
				codeClassObject: function () {
					return {
						getcodeUnClick: this.codeTxt != "获取验证码",
						getcode: true
					}
				}
			},
			methods: {
				/* 登录 */
				toLogin() {
					if (!this.phoneNum) {
						summer.toast({
							msg: "请输入手机号"
						});
					} else if (!this.getCode) {
						summer.toast({
							msg: "请先获取验证码"
						});
					} else if (!this.code) {
						summer.toast({
							msg: "请输入验证码"
						});
					} else if (this.code != this.getCode) {
						summer.toast({
							msg: "验证码输入有误"
						});
					} else {
						summer.toast({
							msg: "登录成功"
						});
						this.getCode = "";
						summer.openWin({
							id: 'stock',
							url: 'html/homePage/stock.html',
							addBackListener: true,
							create: false,
							type: 'actionBar',
							actionBar: {
								title: "账单管理",
								titleColor: "#ffffff", //注意必须是6位数的颜色值。（3位数颜色值会不正常）
								backgroundColor: "#039be5",
								leftItem: {
									type: "text",
									text: "还款记录",
									textColor: "#ffffff",
									method: "stock.record()"
								},
								rightItems: [{
									image: "img/mine.png",
									method: "stock.personal()", //返回按钮自定义事件
								}]
							},
							pageParam: {
								customerInfo: this.customerInfo
							}
						});
					}
				},
				/* 获取验证码 */
				achieveCode() {
					var This = this;
					var re = /^1[3|4|5|7|8][0-9]{9}$/;
					if (!this.phoneNum) {
						summer.toast({
							msg: "请输入手机号"
						});
						return;
					}
					if (!re.test(this.phoneNum)) {
						summer.toast({
							msg: "手机号格式有误"
						});
						return;
					}
					if (this.codeTxt == "获取验证码") {
						This.getCode = "";
						summer.showProgress();
						/* 获取验证码接口 */
						ajaxRequest({
							type: 'post',
							url: 'appservice/login/custLogin',
							param: {
								PHONE: This.phoneNum
							}
						}, function (res) {
							summer.hideProgress();
							var Data;
							if (Object.prototype.toString.call(res.data) === '[object String]') {
								Data = JSON.parse(res.data);
							} else {
								Data = res.data;
							}
							if (Data.flag == 1) {
								if (Data.datas.FLAG == "true") {
									summer.toast({
										msg: "验证码已发送"
									});
									This.customerInfo = Data.datas;
									This.getCode = Data.datas.SMSCODE;
									This.codeTxt = "60s";
									var n = 59;
									this.codeTimer = setInterval(() => {
										This.codeTxt = n + "s";
										if (n < 0) {
											This.codeTxt = "获取验证码";
											clearInterval(this.codeTimer);
											This.codeTimer = null;
										};
										n--;
									}, 1000);
								} else if (Data.datas.FLAG == "false") {
									summer.toast({
										msg: "发送短信失败"
									});
								} else if (Data.datas.FLAG == "ufalse") {
									summer.toast({
										msg: Data.datas.STATE ? Data.datas.STATE : "未找到该用户"
									});
								} else {
									summer.toast({
										msg: "获取验证码失败"
									});
								}
							} else {
								summer.toast({
									msg: "获取验证码失败"
								});
							}
						}, function (err) {
							summer.hideProgress();
							summer.toast({
								msg: "系统内部异常"
							});
							console.log(err);
						});
					} else {
						summer.toast({
							msg: "请勿连续发送"
						});
					}
				}
			}
		});
	</script>
</body>

</html>